force-app/main/default/flows/Affiliation_After_Insert_Update_Update_Constituent_Job_Title.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_constituent_value</name>
        <label>Assign constituent value</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>storeRecordDataJobTitle.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Job_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeRecordDataJobTitle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeRecordDataJobTitle.Constituent_Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_constituent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_True</name>
        <label>Assign Flag True</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>storeRecordDataJobTitle.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_All_Affiliations.ucinn_ascendv2__Job_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeRecordDataJobTitle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_All_Affiliations.ucinn_ascendv2__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeRecordDataJobTitle.Constituent_Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_All_Affiliations.ucinn_ascendv2__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_All_Affiliations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Job_Title_Null_Value</name>
        <label>Assign Job Title Null Value</label>
        <locationX>666</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>storeRecordDataJobTitle.Job_Title__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeRecordDataJobTitle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeRecordDataJobTitle.Constituent_Employer__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Null_Job_Title</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_affiliation_have_values_populated</name>
        <label>Does affiliation have values populated?</label>
        <locationX>358</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_All_Affiliation_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Constituent_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAM_Primary_Employer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_constituent_value</targetReference>
            </connector>
            <label>Yes, populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flag_Check</name>
        <label>Flag Check</label>
        <locationX>666</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flag_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Title</targetReference>
            </connector>
            <label>Flag is True</label>
        </rules>
        <rules>
            <name>Flag_is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Job_Title_Null_Value</targetReference>
            </connector>
            <label>Flag is False</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Check_Affiliations</name>
        <label>To Check Affiliations</label>
        <locationX>886</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_For_All_Affiliations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Condition_Satisfied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_For_All_Affiliations.ucinn_ascendv2__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_For_All_Affiliations.HAM_Primary_Employer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_For_All_Affiliations.ucinn_ascendv2__Constituent_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_True</targetReference>
            </connector>
            <label>Yes, Condition Satisfied</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Affiliation - After Insert / Update - Update Constituent Job Title {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Affiliation - After Insert / Update - Update Constituent Job Title Constituent Employer</label>
    <loops>
        <name>Loop_For_All_Affiliations</name>
        <label>Loop For All Affiliations</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_All_Affiliation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>To_Check_Affiliations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Flag_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Affiliation_Records</name>
        <label>Get All Affiliation Records</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_All_Affiliations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ucinn_ascendv2__Affiliation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_constituent</name>
        <label>Update constituent</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>storeRecordDataJobTitle</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Title</name>
        <label>Update Job Title</label>
        <locationX>402</locationX>
        <locationY>1139</locationY>
        <inputReference>storeRecordDataJobTitle</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Null_Job_Title</name>
        <label>Update Null Job Title</label>
        <locationX>666</locationX>
        <locationY>1247</locationY>
        <inputReference>storeRecordDataJobTitle</inputReference>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_affiliation_have_values_populated</targetReference>
        </connector>
        <object>ucinn_ascendv2__Affiliation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>storeRecordDataJobTitle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>storeRecordDataNullJobTitle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
