force-app/main/default/flows/Assignment_Update_PRM_Role_to_Accoiunt_and_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_End_Date_Null</name>
        <label>Is End Date Null</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Assignment_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PRM_to_Account</targetReference>
            </connector>
            <label>Yes, Current</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assignment: Update PRM &amp; Role to Accoiunt and Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment: Update PRM &amp; Role to Accoiunt and Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_PRM_to_Account</name>
        <label>Add PRM to Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Add_PRM_to_Constituent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_PRM_Role__c</field>
            <value>
                <elementReference>$Record.HAM_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__PRM__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Assigned_Relationship_Manager_User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_PRM_to_Constituent</name>
        <label>Add PRM to Constituent</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_PRM_Role__c</field>
            <value>
                <elementReference>$Record.HAM_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__PRM__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Assigned_Relationship_Manager_User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Constituent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_PRM_Role__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__PRM__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Constituent</name>
        <label>Update Constituent</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_PRM_Role__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__PRM__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_End_Date_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Assignment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Relationship Manager</stringValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
