force-app/main/default/flows/Constituent_Populate_Reunion_Year.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>Check whether the degree is a Hamilton or Kirkland Degree prior to update.</description>
        <name>Check_Whether_Degree_is_From_Hamilton_or_Kirkland</name>
        <label>Check Whether Degree is From Hamilton or Kirkland</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ham_Kirkland</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_ID_of_Kirkland.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ucinn_ascendv2__Degree_Institution__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Id_of_Hamilton.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ucinn_ascendv2__Degree_Institution__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Constituent_Reunion_Year</targetReference>
            </connector>
            <label>Ham/Kirkland</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Constituent Populate Reunion Year {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Constituent Populate Reunion Year</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Id_of_Hamilton</name>
        <label>Get Account Id of Hamilton</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_ID_of_Kirkland</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__External_System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0920265</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_ID_of_Kirkland</name>
        <label>Get Account ID of Kirkland</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Whether_Degree_is_From_Hamilton_or_Kirkland</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__External_System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2381635</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Degree_RecordType_Id</name>
        <label>Get Degree RecordType Id</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Id_of_Hamilton</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>School_Degree_Information</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the reunion year on the Constituent with the reunion year on the Degree, provided the Degree is a Hamilton/Kirkland Degree</description>
        <name>Update_Constituent_Reunion_Year</name>
        <label>Update Constituent Reunion Year</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>HAM_Reunion_Year__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Reunion_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ucinn_ascendv2__Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Degree_RecordType_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Reunion_Year__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Degree_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>200</triggerOrder>
</Flow>
