force-app/main/default/flows/Contact_Report_Create_New_Contact_Report_Gift_Officers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_to_EventRelation_List</name>
        <label>Add to EventRelation List</label>
        <locationX>270</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>EventRelationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EventRelation_Iteration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thorough_Attendees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Task_List</name>
        <label>Add to Task List</label>
        <locationX>270</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>TaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>task_iteration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RecordId</name>
        <label>Assign RecordId</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Constituent_or_Organization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_EventRelation_Fields</name>
        <label>Set EventRelation Fields</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>EventRelation_Iteration.EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Event_Related_to_Contact_Report</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation_Iteration.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation_Iteration.RelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thorough_Attendees.AttendeeId.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_EventRelation_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets recordId with value from contactId</description>
        <name>Set_RecordId_contactId</name>
        <label>Set RecordId contactId</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RecordId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Fields</name>
        <label>Set Task Fields</label>
        <locationX>270</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>task_iteration.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Tasks.Due_Date_Repeat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_iteration.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Tasks.AssignedToRepeat.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_iteration.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_iteration.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_iteration.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_iteration.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Tasks.Comments_Repeat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_iteration.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Tasks.Subject_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Task_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Academic_Affairs</name>
        <choiceText>Academic Affairs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Academic Affairs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Athletics</name>
        <choiceText>Athletics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Athletics</stringValue>
        </value>
    </choices>
    <choices>
        <name>Financial_Aid</name>
        <choiceText>Financial Aid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial Aid</stringValue>
        </value>
    </choices>
    <choices>
        <name>FinancialAid</name>
        <choiceText>Financial Aid</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>President</name>
        <choiceText>President</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>President</stringValue>
        </value>
    </choices>
    <choices>
        <name>VP_Faculty</name>
        <choiceText>VP Faculty</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VP Faculty</stringValue>
        </value>
    </choices>
    <choices>
        <name>VP_Finance</name>
        <choiceText>VP Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VP Finance</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Constituent_or_Organization</name>
        <label>Constituent or Organization?</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>NotOrgOrContactError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
        <rules>
            <name>isOrg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Organization</targetReference>
            </connector>
            <label>isOrg</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Meeting_True</name>
        <label>Create Meeting True?</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Create_Task_is_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateMeetingTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Meeting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateMeetingScreen</targetReference>
            </connector>
            <label>CreateMeetingTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Task_is_True</name>
        <label>Create Task is True?</label>
        <locationX>314</locationX>
        <locationY>2282</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateTaskTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Screen</targetReference>
            </connector>
            <label>CreateTaskTrue</label>
        </rules>
    </decisions>
    <decisions>
        <description>contactId variable is populated through LWC on JEDI Overview page.</description>
        <name>Is_contactId_Null</name>
        <label>Is contactId Null?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_RecordId_contactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>contactId_IsNull_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RecordId</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks recordId prefix to see if the Screen Flow was spawned from a Constituent (003) or Organization (001)</description>
        <name>recordId_is_Constituent_or_Organization</name>
        <label>recordId is Constituent or Organization?</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isConstituent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Report_Contact</targetReference>
            </connector>
            <label>isConstituent</label>
        </rules>
        <rules>
            <name>isOrganization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Report_Account</targetReference>
            </connector>
            <label>isOrganization</label>
        </rules>
    </decisions>
    <description>Custom screen flow that provides a more streamlined method of submitting a Contact Report as well as a solution to issues with the ascend Contact Report form on mobile.</description>
    <dynamicChoiceSets>
        <name>HAM_Areas_Of_Interest</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HAM_Areas_of_Interest__c</picklistField>
        <picklistObject>ucinn_ascendv2__Contact_Report__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HAM_Campus_Stakeholders</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HAM_Campus_Stakeholders__c</picklistField>
        <picklistObject>ucinn_ascendv2__Contact_Report__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HAM_Purpose</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HAM_Purpose__c</picklistField>
        <picklistObject>ucinn_ascendv2__Contact_Report__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>hamMeetingStatusPicklistChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HAM_Meeting_Status__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Method_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ucinn_ascendv2__Contact_Method__c</picklistField>
        <picklistObject>ucinn_ascendv2__Contact_Report__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Publish_To_Listserv</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HAM_Publish_to_Listserv__c</picklistField>
        <picklistObject>ucinn_ascendv2__Contact_Report__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Substantive_Contact_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ucinn_ascendv2__Substantive_Contact__c</picklistField>
        <picklistObject>ucinn_ascendv2__Contact_Report__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>createMeetingTrueFormula</name>
        <dataType>Boolean</dataType>
        <expression>{!Create_Meeting}</expression>
    </formulas>
    <formulas>
        <name>inPersonFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Method} = &quot;In Person&quot;, true, false)</expression>
    </formulas>
    <formulas>
        <name>KeyPointsFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Key_Points} != &quot;&quot;,SUBSTITUTE(SUBSTITUTE(JSENCODE({!Key_Points}), &quot;\r\n&quot;, &quot;&lt;br&gt;&quot;), &quot;\n&quot;, &quot;&lt;br&gt;&quot;),null)</expression>
    </formulas>
    <formulas>
        <name>nowDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>Adds one hour to NOW()</description>
        <name>nowDateTimePlusHour</name>
        <dataType>DateTime</dataType>
        <expression>{!nowDateTime} + (1/24)</expression>
    </formulas>
    <formulas>
        <description>Gets contact or org name depending on what&apos;s not null</description>
        <name>RecordName</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!Get_Contact.Id})),{!Get_Contact.ucinn_ascendv2__Full_Name_Formula__c},{!Get_Organization.Name})</expression>
    </formulas>
    <formulas>
        <description>If create contact report account record Id is null, use create contact report contact record Id</description>
        <name>RelatedId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Create_Contact_Report_Contact}),{!Create_Contact_Report_Account},{!Create_Contact_Report_Contact})</expression>
    </formulas>
    <formulas>
        <name>subjectDefault</name>
        <dataType>String</dataType>
        <expression>&quot;Related Task for &quot; + {!RecordName}</expression>
    </formulas>
    <formulas>
        <description>Sets the default task due date to 2 weeks after the Date of Contact</description>
        <name>taskDueDateDefault</name>
        <dataType>Date</dataType>
        <expression>{!Date_of_Contact} + 14</expression>
    </formulas>
    <formulas>
        <description>A formula that calculates the value to be used for the Task status.</description>
        <name>TaskStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Loop_Through_Tasks.Is_this_task_completed}=True, &quot;Completed&quot;, &quot;Open&quot;)</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Contact Report - Create New Contact Report (Gift Officers) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM Contact Report - Create New Contact Report</label>
    <loops>
        <name>Loop_Thorough_Attendees</name>
        <label>Loop Thorough Attendees</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <collectionReference>AttendeeRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_EventRelation_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_EventRelationList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through repeated tasks</description>
        <name>Loop_Through_Tasks</name>
        <label>Loop Through Tasks</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <collectionReference>TaskRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Task_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_TaskList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Report_Account</name>
        <label>Create Contact Report Account</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Create_Contact_Report_Relation_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_In_Person__c</field>
            <value>
                <elementReference>inPersonFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Publish_to_Listserv__c</field>
            <value>
                <elementReference>Publish_to_Listserv_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact_Method__c</field>
            <value>
                <elementReference>Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact_Report_Body__c</field>
            <value>
                <elementReference>KeyPointsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Date__c</field>
            <value>
                <elementReference>Date_of_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Contact_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Report_Contact</name>
        <label>Create Contact Report Contact</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Create_Contact_Report_Relation_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_In_Person__c</field>
            <value>
                <elementReference>inPersonFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Publish_to_Listserv__c</field>
            <value>
                <elementReference>Publish_to_Listserv_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact_Method__c</field>
            <value>
                <elementReference>Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact_Report_Body__c</field>
            <value>
                <elementReference>KeyPointsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Date__c</field>
            <value>
                <elementReference>Date_of_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Contact_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Report_Relation_Account</name>
        <label>Create Contact Report Relation Account</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Create_Meeting_True</targetReference>
        </connector>
        <inputAssignments>
            <field>ucinn_ascendv2__Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact_Report__c</field>
            <value>
                <elementReference>Create_Contact_Report_Account</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Contact_Report_Relation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Report_Relation_Contact</name>
        <label>Create Contact Report Relation Contact</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Create_Meeting_True</targetReference>
        </connector>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact_Report__c</field>
            <value>
                <elementReference>Create_Contact_Report_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Contact_Report_Relation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Related_to_Contact_Report</name>
        <label>Create Event Related to Contact Report</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Loop_Thorough_Attendees</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>meetingEndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Contact_Report__c</field>
            <value>
                <elementReference>RelatedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_In_Person__c</field>
            <value>
                <elementReference>meetingInPerson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Meeting_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Meeting_Title__c</field>
            <value>
                <elementReference>HAM_Meeting_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>meetingLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>meetingAssignedTo.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>meetingStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_EventRelationList</name>
        <label>Insert EventRelationList</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Create_Task_is_True</targetReference>
        </connector>
        <inputReference>EventRelationList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_TaskList</name>
        <label>Insert TaskList</label>
        <locationX>182</locationX>
        <locationY>2906</locationY>
        <inputReference>TaskList</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets Contact to grab fields from recordId</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_Report_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ucinn_ascendv2__Full_Name_Formula__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Org to grab fields from recordId</description>
        <name>Get_Organization</name>
        <label>Get Organization</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_Report_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Contact_Report_Screen</name>
        <label>Create Contact Report Screen</label>
        <locationX>314</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recordId_is_Constituent_or_Organization</targetReference>
        </connector>
        <fields>
            <name>Screen1Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;New Contact Report for {!RecordName}:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Information</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConstituentLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ucinn_ascendv2__Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Constituent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ucinn_ascendv2__Contact_Report__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId</leftValueReference>
                            <operator>StartsWith</operator>
                            <rightValue>
                                <stringValue>003</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OrganizationLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ucinn_ascendv2__Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ucinn_ascendv2__Contact_Report__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Organization</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId</leftValueReference>
                            <operator>StartsWith</operator>
                            <rightValue>
                                <stringValue>001</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Contact</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>todayDate</elementReference>
                    </defaultValue>
                    <fieldText>Date of Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date of Contact cannot be in the future.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Contact} &lt;= TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Method</name>
                    <choiceReferences>Method_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>In Person</stringValue>
                    </defaultValue>
                    <fieldText>Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contact_Report</name>
            <fieldText>Contact  Report</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Report_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <fieldText>Summary</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Key_Points</name>
                    <fieldText>Key Points</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Publish_to_Listserv_field</name>
                    <choiceReferences>Publish_To_Listserv</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Publish to Listserv?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Create_Meeting</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Meeting?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Check this field to create a Meeting record after saving this contact report.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Create_Task</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Task/Next Steps?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Check this field to create a task after saving this contact report.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Task_Screen</name>
        <label>Create Task Screen</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
        <fields>
            <name>Screen2Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Create New Task Related to the Contact Report: &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TaskRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Subject_Task</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>subjectDefault</elementReference>
                </defaultValue>
                <fieldText>Subject</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>AssignedToRepeat</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>OwnerId</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Assigned Person</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>Due_Date_Repeat</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>taskDueDateDefault</elementReference>
                </defaultValue>
                <fieldText>Due Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Comments_Repeat</name>
                <fieldText>Comments</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Is_this_task_completed</name>
                <dataType>Boolean</dataType>
                <fieldText>Is this task completed?</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Check this field to mark this task as Completed.&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateMeetingScreen</name>
        <label>Create Meeting Screen</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Event_Related_to_Contact_Report</targetReference>
        </connector>
        <fields>
            <name>createMeetingHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Create a Meeting Related to the Contact Report: &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateMeetingScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateMeetingScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>meetingAssignedTo</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OwnerId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned To</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CreateMeetingScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateMeetingScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>meetingLocation</name>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateMeetingScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HAM_Meeting_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Gift Officer Meeting</stringValue>
                    </defaultValue>
                    <fieldText>HAM Meeting Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CreateMeetingScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateMeetingScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>meetingStartDateTime</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>nowDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>meetingInPerson</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>createMeetingTrueFormula</elementReference>
                    </defaultValue>
                    <fieldText>In Person</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateMeetingScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>meetingEndDateTime</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>nowDateTimePlusHour</elementReference>
                    </defaultValue>
                    <fieldText>End</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;End Date/Time can&apos;t be before Start Date/Time.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!meetingStartDateTime} &lt; {!meetingEndDateTime}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AttendeeRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>AttendeeId</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>ucinn_ascendv2__Contact__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Attendee</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>ucinn_ascendv2__Contact_Report__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>recordId</name>
                    <value>
                        <elementReference>recordId</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotOrgOrContactError</name>
        <label>NotOrgOrContactError</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contact_Report_Screen</targetReference>
        </connector>
        <fields>
            <name>NotOrgOrContactError_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NotOrgOrContactError_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NotOrgOrContactError_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NotContactOrOrgError</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(205, 56, 29);&quot;&gt;This screen flow can only be triggered from a Constituent or Organization record. Reach out to your Salesforce Administrator for more details.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NotOrgOrContactError_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_contactId_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>keyPointsTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Key_Points}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactReportRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Contact_Report__c</objectType>
    </variables>
    <variables>
        <name>EventRelation_Iteration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>EventRelationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>task_iteration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
