force-app/main/default/flows/Deceasing_Automation_Process_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_End_Date_to_Emails</name>
        <label>Assign End Date to Emails</label>
        <locationX>138</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>Loop_For_All_Emails.ucinn_ascendv2__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_For_All_Emails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_All_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_End_Date_to_Phones</name>
        <label>Assign End Date to Phones</label>
        <locationX>138</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>Loop_For_All_Phones.ucinn_ascendv2__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPhones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_For_All_Phones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_All_Phones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Emails_or_Phones</name>
        <label>No Emails or Phones</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>EmailsNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>EmailIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllPhones</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Phones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_SI</name>
        <label>No SI</label>
        <locationX>182</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>SIs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UnconfirmedServiceIndicators</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Service_Indicators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Indicator_Collection_Assignment</name>
        <label>Service Indicator Collection Assignment</label>
        <locationX>138</locationX>
        <locationY>3035</locationY>
        <assignmentItems>
            <assignToReference>NewNoSolicitServiceIndicator.ucinn_ascendv2__Service_Indicator_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_All_No_Solicit_SIV.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewNoSolicitServiceIndicator.ucinn_ascendv2__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SIEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewNoSolicitServiceIndicator.ucinn_ascendv2__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoSolicitServiceIndicators</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewNoSolicitServiceIndicator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_All_No_Solicit_SIV</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Emails</name>
        <label>Check for Emails</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Check_for_Phones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emails_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailsNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_For_All_Emails</targetReference>
            </connector>
            <label>Emails Found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Phones</name>
        <label>Check for Phones</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Update_Affiliation_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllPhones</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_For_All_Phones</targetReference>
            </connector>
            <label>Phone Found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Service_Indicators</name>
        <label>Check for Service Indicators</label>
        <locationX>182</locationX>
        <locationY>3635</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SI_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SIs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SI</targetReference>
            </connector>
            <label>SI Found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Widow_Is_Deceased</name>
        <label>Check Widow Is Deceased</label>
        <locationX>182</locationX>
        <locationY>2819</locationY>
        <defaultConnector>
            <targetReference>Get_All_Unconfirmed_SI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Deceased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Widow_Contact.ucinn_ascendv2__Is_Deceased__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_All_No_Solicit_SIV</targetReference>
            </connector>
            <label>Not Deceased</label>
        </rules>
    </decisions>
    <description>Changed Surviving Spouse to Widow</description>
    <environments>Default</environments>
    <formulas>
        <name>EndMonth</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>EndYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>SIEndDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+730</expression>
    </formulas>
    <interviewLabel>Deceasing Automation Process_2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deceasing Automation Process_2</label>
    <loops>
        <name>Loop_For_All_Emails</name>
        <label>Loop For All Emails</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <collectionReference>EmailIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_End_Date_to_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Emails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_All_No_Solicit_SIV</name>
        <label>Loop for All No Solicit SIV</label>
        <locationX>50</locationX>
        <locationY>2927</locationY>
        <collectionReference>Get_All_No_Solicit_SIV</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Service_Indicator_Collection_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Do_Not_Solicit_SI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_For_All_Phones</name>
        <label>Loop For All Phones</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <collectionReference>Phones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_End_Date_to_Phones</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Phones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Do_Not_Solicit_SI</name>
        <label>Create Do Not Solicit SI</label>
        <locationX>50</locationX>
        <locationY>3227</locationY>
        <connector>
            <targetReference>Get_All_Unconfirmed_SI</targetReference>
        </connector>
        <inputReference>NoSolicitServiceIndicators</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_No_Contact_With_Ham_SI</name>
        <label>Create No Contact With Ham SI</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_End_Date_for_Relationships</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>SI-0000009</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Service_Indicator_Value__c</field>
            <value>
                <elementReference>ServiceIndicatorValue</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Service_Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_SI</name>
        <label>Delete SI</label>
        <locationX>50</locationX>
        <locationY>3743</locationY>
        <inputReference>UnconfirmedServiceIndicators</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Emails_for_Contact</name>
        <label>Get All Emails for Contact</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ucinn_ascendv2__Email__c</object>
        <outputReference>EmailIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ucinn_ascendv2__End_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_No_Solicit_SIV</name>
        <label>Get All No Solicit SIV</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_No_Contact_With_Ham_SI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>No Solicit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ucinn_ascendv2__Service_Indicator_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Phone</name>
        <label>Get All Phone</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Emails_or_Phones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ucinn_ascendv2__Phone__c</object>
        <outputReference>Phones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ucinn_ascendv2__End_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Unconfirmed_SI</name>
        <label>Get All Unconfirmed SI</label>
        <locationX>182</locationX>
        <locationY>3419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_SI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Service_Indicator_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnconfirmedSIV</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ucinn_ascendv2__Service_Indicator__c</object>
        <outputReference>UnconfirmedServiceIndicators</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_No_Contact_Service_Indicator_Value</name>
        <label>Get No Contact Service Indicator Value</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unverified_Deceased_SIV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Contact with Hamilton</stringValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Service_Indicator_Value__c</object>
        <outputAssignments>
            <assignToReference>ServiceIndicatorValue</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Unverified_Deceased_SIV</name>
        <label>Get Unverified Deceased SIV</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_No_Solicit_SIV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unverified Deceased</stringValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Service_Indicator_Value__c</object>
        <outputAssignments>
            <assignToReference>UnconfirmedSIV</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Widow_Contact</name>
        <label>Get Widow Contact</label>
        <locationX>182</locationX>
        <locationY>2711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Widow_Is_Deceased</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Widow_Relationship.ucinn_ascendv2__Related_Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Widow_Relationship</name>
        <label>Get Widow Relationship</label>
        <locationX>182</locationX>
        <locationY>2603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Widow_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Related_Contact_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Widow</stringValue>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Affiliation_End_Date</name>
        <label>Update Affiliation End Date</label>
        <locationX>182</locationX>
        <locationY>2387</locationY>
        <connector>
            <targetReference>Update_Stewardee_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ucinn_ascendv2__End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Affiliation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Emails</name>
        <label>Update All Emails</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Check_for_Phones</targetReference>
        </connector>
        <inputReference>UpdatedEmails</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Phones</name>
        <label>Update All Phones</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Update_Affiliation_End_Date</targetReference>
        </connector>
        <inputReference>UpdatedPhones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_End_Date_for_Relationships</name>
        <label>Update End Date for Relationships</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_All_Emails_for_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Related_Contact_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Widow</stringValue>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__End_Month__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>ucinn_ascendv2__End_Year__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>ucinn_ascendv2__End_Month__c</field>
            <value>
                <elementReference>EndMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__End_Year__c</field>
            <value>
                <elementReference>EndYear</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Relationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stewardee_End_Date</name>
        <label>Update Stewardee End Date</label>
        <locationX>182</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>Get_Widow_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact_Stewardee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ucinn_ascendv2__End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Designation_Stewardship__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_No_Contact_Service_Indicator_Value</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Is_Deceased__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AllPhones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>EmailIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Email__c</objectType>
    </variables>
    <variables>
        <name>EmailsNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NewNoSolicitServiceIndicator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Service_Indicator__c</objectType>
    </variables>
    <variables>
        <name>NoSolicitServiceIndicators</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Service_Indicator__c</objectType>
    </variables>
    <variables>
        <name>NoSolicitSIV</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Service_Indicator_Value__c</objectType>
    </variables>
    <variables>
        <name>Phones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Phone__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ServiceIndicatorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UnconfirmedServiceIndicators</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Service_Indicator__c</objectType>
    </variables>
    <variables>
        <name>UnconfirmedSIV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Email__c</objectType>
    </variables>
    <variables>
        <name>UpdatedPhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Phone__c</objectType>
    </variables>
</Flow>
