force-app/main/default/flows/Event_Schedule_5_Days_Before_Meeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>reminderSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5 days before reminder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Trip_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>reminderSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 day before reminder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Trip_Detail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Reminder_Task_DECISION</name>
        <label>Create Reminder Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Reminder_Task_OUTCOME</name>
            <conditionLogic>1 AND 2 AND (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trip_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HAM_Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAM_Meeting_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>reminderSubject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5 days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAM_Meeting_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>reminderSubject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1 day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Task_Create</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create a task reminder 5 days before the meeting</description>
    <environments>Default</environments>
    <formulas>
        <name>taskReminder_FORMULA</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.StartDateTime} + 5</expression>
    </formulas>
    <interviewLabel>Event Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Schedule: 5 Days Before Meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_Task_Create</name>
        <label>Task Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>HAM_Trip_Details__c</field>
            <value>
                <elementReference>Get_Trip_Detail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trip_Detail.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>reminderSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Trip_Detail</name>
        <label>Get Trip Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Reminder_Task_DECISION</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HAM_Trip_Details__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HAM_Trip_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HAM_Trip_Details__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X5_days_before</name>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>5 days before</label>
            <offsetNumber>-5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>StartDateTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_day_before</name>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>1 day before</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>StartDateTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>reminderSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
