force-app/main/default/flows/Giving_Pages_START.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <choices>
        <name>alumnusAlumnaChoice</name>
        <choiceText>Alumnus/Alumna</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumnus/Alumna</stringValue>
        </value>
    </choices>
    <choices>
        <name>amountUSD10</name>
        <choiceText>$10</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>amountUSD20</name>
        <choiceText>$20</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20</stringValue>
        </value>
    </choices>
    <choices>
        <name>currentStudentChoice</name>
        <choiceText>Current Student</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Student</stringValue>
        </value>
    </choices>
    <choices>
        <name>employeeChoice</name>
        <choiceText>Employee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>friendChoice</name>
        <choiceText>Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>parentGrandparentChoice</name>
        <choiceText>Parent/Grandparent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parent/Grandparent</stringValue>
        </value>
    </choices>
    <choices>
        <name>spouseChoice</name>
        <choiceText>Spouse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spouse</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>designationSelection</name>
        <dataType>String</dataType>
        <displayField>ucinn_ascendv2__Designation_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HAM_Gift_Designation</stringValue>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Status_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Designation__c</object>
        <sortField>ucinn_ascendv2__Designation_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>ucinn_ascendv2__Designation_Name__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>__Giving Pages START {!$Flow.CurrentDateTime}</interviewLabel>
    <label>__Giving Pages START</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Active_Designations</name>
        <label>Get All Active Designations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Constituent</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>HAM_Fund_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Status_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ucinn_ascendv2__Designation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Constituent</name>
        <label>Get Constituent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen01</name>
        <label>screen01</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>desg1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>desg</elementReference>
            </defaultValue>
            <fieldText>desg</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_the_Designation2</name>
            <choiceReferences>designationSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Designation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>desg</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Constituent.HomePhone</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Constituent.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Constituent.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Affiliation_with_Hamilton</name>
            <choiceReferences>alumnusAlumnaChoice</choiceReferences>
            <choiceReferences>parentGrandparentChoice</choiceReferences>
            <choiceReferences>currentStudentChoice</choiceReferences>
            <choiceReferences>employeeChoice</choiceReferences>
            <choiceReferences>friendChoice</choiceReferences>
            <choiceReferences>spouseChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Affiliation with Hamilton?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Class_Year</name>
            <dataType>Number</dataType>
            <fieldText>Class Year</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Affiliation_with_Hamilton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>parentGrandparentChoice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Affiliation_with_Hamilton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>currentStudentChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Active_Designations</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>desg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
