force-app/main/default/flows/HAM_Chapter_Constituent_Preferred.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Decide if the Address Relation is Preferred</description>
        <name>Address_Relation_is_Preferred</name>
        <label>Address Relation is Preferred?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Preferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Is_Preferred__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Preferred_Chapter</targetReference>
            </connector>
            <label>Preferred/Current</label>
        </rules>
        <rules>
            <name>No_Longer_Preferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ucinn_ascendv2__Is_Preferred__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Is_Preferred__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Contact_Preferred_Chapter</targetReference>
            </connector>
            <label>No Longer Preferred</label>
        </rules>
    </decisions>
    <description>Entry criteria updated.</description>
    <environments>Default</environments>
    <interviewLabel>HAM Chapter Constituent Preferred {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM Chapter Constituent Preferred</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_Contact_Preferred_Chapter</name>
        <label>Assign Contact Preferred Chapter</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>HAM_Preferred_Chapter_Lookup__c</field>
            <value>
                <elementReference>$Record.HAM_Chapter__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ucinn_ascendv2__Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Contact_Preferred_Chapter</name>
        <label>Remove Contact Preferred Chapter</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>HAM_Preferred_Chapter_Lookup__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.ucinn_ascendv2__Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Address_Relation_is_Preferred</targetReference>
        </connector>
        <filterFormula>(  (
    NOT(ISNULL({!$Record.HAM_Chapter__c})) &amp;&amp;
   {!$Record.ucinn_ascendv2__Is_Preferred__c} = TRUE &amp;&amp;
    TEXT({!$Record.ucinn_ascendv2__Status__c}) = &quot;Current&quot;
  )
||
  (
    ISCHANGED({!$Record.ucinn_ascendv2__Is_Preferred__c}) &amp;&amp;
    PRIORVALUE({!$Record.ucinn_ascendv2__Is_Preferred__c}) = TRUE
  )
)
&amp;&amp;
(
  ISNEW() ||
  ISCHANGED({!$Record.HAM_Chapter__c}) ||
  ISCHANGED({!$Record.ucinn_ascendv2__Is_Preferred__c}) ||
  ISCHANGED({!$Record.ucinn_ascendv2__Status__c})
)</filterFormula>
        <object>ucinn_ascendv2__Address_Relation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>updateContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>updateContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
