force-app/main/default/flows/HAM_Update_Primary_Donor_for_Opportunites.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_a_list_to_update_later_on</name>
        <label>Add to a list to update later on</label>
        <locationX>1898</locationX>
        <locationY>2681</locationY>
        <assignmentItems>
            <assignToReference>UpdateCreditRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_each_Credit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_each_Credit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Primary_Donor_Details</name>
        <label>Remove Primary Donor Details</label>
        <locationX>1766</locationX>
        <locationY>2405</locationY>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Is_Primary_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Constituent_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Primary_Donor_Constituent_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_a_list_to_update_later_on</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Primary_Donor_organization_Details</name>
        <label>Remove Primary Donor organization Details</label>
        <locationX>2294</locationX>
        <locationY>2405</locationY>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Is_Primary_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Constituent_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Primary_Donor_Constituent_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_a_list_to_update_later_on</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Donor_Details</name>
        <label>Set Primary Donor Details</label>
        <locationX>1502</locationX>
        <locationY>2405</locationY>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Is_Primary_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Primary_Donor_Constituent_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_the_Updated_Opportunity_record_for_credit_lines.HAM_Primary_Donor__r.ucinn_ascendv2__Primary_Contact_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Primary_Donor_Sources__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_the_Updated_Opportunity_record_for_credit_lines.HAM_Primary_Donor__r.ucinn_ascendv2__Contact_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_a_list_to_update_later_on</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Donor_Organization_Details</name>
        <label>Set Primary Donor Organization Details</label>
        <locationX>2030</locationX>
        <locationY>2405</locationY>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Is_Primary_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Constituent_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_the_Updated_Opportunity_record_for_credit_lines.HAM_Primary_Donor_organization__r.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_Credit.HAM_Primary_Donor_Constituent_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_the_Updated_Opportunity_record_for_credit_lines.HAM_Primary_Donor_organization__r.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_a_list_to_update_later_on</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Affiliations</name>
        <label>Are there Affiliations?</label>
        <locationX>1194</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Primary_donor_as_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>Has_Affiliations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_affiliations_for_the_Charity_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_there_any_primary_donor_for_account</targetReference>
            </connector>
            <label>Has Affiliations</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there exist any affiliation record that is marked as primary donor</description>
        <name>Are_there_any_primary_donor_for_account</name>
        <label>Are there any primary donor for account</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Is_it_an_Edge_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add account as primary donor</defaultConnectorLabel>
        <rules>
            <name>Has_Primary_donor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_affiliations_for_the_Charity_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_all_affiliations_for_the_Charity_account.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Primary_Donor_Constituent_from_charity</targetReference>
            </connector>
            <label>Has Primary donor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_is_Primary_Donor_Constitiuent</name>
        <label>Check for is Primary Donor Constitiuent</label>
        <locationX>1634</locationX>
        <locationY>2297</locationY>
        <defaultConnector>
            <targetReference>Remove_Primary_Donor_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Primary Donor</defaultConnectorLabel>
        <rules>
            <name>Is_the_credit_report_of_primary_Donor_Constitiuent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_each_Credit.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_the_Updated_Opportunity_record_for_credit_lines.HAM_Primary_Donor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Donor_Details</targetReference>
            </connector>
            <label>Is the credit report of primary Donor Constitiuent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_is_Primary_Donor_organization</name>
        <label>Check for is Primary Donor organization</label>
        <locationX>2162</locationX>
        <locationY>2297</locationY>
        <defaultConnector>
            <targetReference>Remove_Primary_Donor_organization_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Primary Donor</defaultConnectorLabel>
        <rules>
            <name>Is_the_credit_report_of_primary_Donor_organization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_each_Credit.ucinn_ascendv2__Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_the_Updated_Opportunity_record_for_credit_lines.HAM_Primary_Donor_organization__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Donor_Organization_Details</targetReference>
            </connector>
            <label>Is the credit report of primary Donor organization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Primary_Donor_being_Changed</name>
        <label>Has Primary Donor being Changed?</label>
        <locationX>2140</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Updated_the_Primary_Donor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Primary_Donor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAM_Primary_Donor_organization__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_Donor_Changed</targetReference>
            </connector>
            <label>Updated the Primary Donor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Constituent_or_organization_Updated</name>
        <label>Is Constituent or organization Updated</label>
        <locationX>1414</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Has_Primary_Donor_being_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Constituent_Present</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision splits between account and contact flows</description>
        <name>Is_Constituent_Present</name>
        <label>Is Constituent Present</label>
        <locationX>688</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_all_affiliations_for_the_Charity_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Charity (Organization) &amp; affiliation specific</defaultConnectorLabel>
        <rules>
            <name>Constituent_Household_specific</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Primary_household_contact</targetReference>
            </connector>
            <label>Constituent (Household) specific</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create</name>
        <label>Is Create?</label>
        <locationX>600</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Constituent_or_organization_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_Constituent_Present</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_constituent_Credit</name>
        <label>Is it a constituent Credit?</label>
        <locationX>1898</locationX>
        <locationY>2189</locationY>
        <defaultConnector>
            <targetReference>Check_for_is_Primary_Donor_organization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Constitiuent_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_each_Credit.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_is_Primary_Donor_Constitiuent</targetReference>
            </connector>
            <label>Constituent Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_an_Edge_case</name>
        <label>Is it an Edge case</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_Primary_donor_as_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Regular path</defaultConnectorLabel>
        <rules>
            <name>Edge_Case_Eg_Sibbri_Foundation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sibbri Foundation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bristol Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Burke Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clara L. D. Jeffery Charitable Trust</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gomez and Bristol Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Horner Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kuckel Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Odening and Bristol Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Odening Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partridge Household</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_Donor_Populated</targetReference>
            </connector>
            <label>Edge Case - Eg Sibbri Foundation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Donor_Changed</name>
        <label>Is Primary Donor Changed?</label>
        <locationX>1942</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_PRM_on_Donor_Org</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Donor Organization changed</defaultConnectorLabel>
        <rules>
            <name>Donor_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Primary_Donor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PRM_on_Donor_Change</targetReference>
            </connector>
            <label>Donor Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Donor_Populated</name>
        <label>Is Primary Donor Populated</label>
        <locationX>930</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Create_a_manual_validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Org default</defaultConnectorLabel>
        <rules>
            <name>Primary_donor_Added</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Primary_Donor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAM_Primary_Donor_organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_the_Updated_Opportunity_record_for_credit_lines</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Primary donor Added</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element checks for the primary constituent on the household account and then populate it.</description>
        <name>Is_there_a_Primary_household_contact</name>
        <label>Is there a Primary household contact?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_the_Constituent_to_primary_donor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing primary constituent</defaultConnectorLabel>
        <rules>
            <name>Has_Primary_constitutent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__r.Account.ucinn_ascendv2__Primary_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Primary_Donor_Constituent</targetReference>
            </connector>
            <label>Has Primary constitutent</label>
        </rules>
    </decisions>
    <description>This Flow is used to populate the Primary donor constituent or organization on Opportunities.
Then it gets the updated opportunity and updates all the associated credit lines
Added feature to update PRM on opportunity as per the primary Donor</description>
    <environments>Default</environments>
    <interviewLabel>HAM Update Primary Donor for Opportunites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM Update Primary Donor for Opportunites</label>
    <loops>
        <name>Check_each_Credit</name>
        <label>Check each Credit</label>
        <locationX>1414</locationX>
        <locationY>2081</locationY>
        <collectionReference>Get_all_related_Credit_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_it_a_constituent_Credit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Credit_Records_at_end</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_manual_validation</name>
        <label>Create a manual validation</label>
        <locationX>1018</locationX>
        <locationY>1187</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Primary_donor_as_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_Pledge_Gift__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Assigned_To__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Due_By__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <stringValue>Review Primary Donor</stringValue>
            </value>
        </inputAssignments>
        <object>agf__ADM_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This elements loops in all the Affiliation records associated with the account</description>
        <name>Get_all_affiliations_for_the_Charity_account</name>
        <label>Get all affiliations for the Charity account</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Affiliations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HAM_Is_Primary_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Affiliation__c</object>
        <sortField>HAM_Is_Primary_Donor__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_related_Credit_records</name>
        <label>Get all related Credit records</label>
        <locationX>1414</locationX>
        <locationY>1973</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_each_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ucinn_ascendv2__Hard_and_Soft_Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_the_Updated_Opportunity_record_for_credit_lines</name>
        <label>get the Updated Opportunity record for credit lines</label>
        <locationX>1414</locationX>
        <locationY>1865</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_related_Credit_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This elements directly copies the constituent on opportunity to primary donor field</description>
        <name>Copy_the_Constituent_to_primary_donor</name>
        <label>Copy the Constituent to primary donor</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>get_the_Updated_Opportunity_record_for_credit_lines</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_Primary_Donor__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Resp_Person__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__r.ucinn_ascendv2__PRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Credit_Records_at_end</name>
        <label>Update Credit Records at end</label>
        <locationX>1414</locationX>
        <locationY>2873</locationY>
        <inputReference>UpdateCreditRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This element populated the Primary donor organization and not constituent</description>
        <name>Update_Primary_donor_as_Account</name>
        <label>Update Primary donor as Account</label>
        <locationX>1282</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>get_the_Updated_Opportunity_record_for_credit_lines</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_Primary_Donor_organization__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Resp_Person__c</field>
            <value>
                <elementReference>$Record.Account.ucinn_ascendv2__PRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PRM_on_Donor_Change</name>
        <label>Update PRM on Donor Change</label>
        <locationX>1810</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>get_the_Updated_Opportunity_record_for_credit_lines</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_Primary_Resp_Person__c</field>
            <value>
                <elementReference>$Record.HAM_Primary_Donor__r.ucinn_ascendv2__PRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PRM_on_Donor_Org</name>
        <label>Update PRM on Donor Org</label>
        <locationX>2074</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>get_the_Updated_Opportunity_record_for_credit_lines</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_Primary_Resp_Person__c</field>
            <value>
                <elementReference>$Record.HAM_Primary_Donor_organization__r.ucinn_ascendv2__PRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This elements check for household and its primary donor to populate the value on opportunity</description>
        <name>Update_the_Primary_Donor_Constituent</name>
        <label>Update the Primary Donor Constituent</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>get_the_Updated_Opportunity_record_for_credit_lines</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_Primary_Donor__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__r.Account.ucinn_ascendv2__Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Resp_Person__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__r.Account.ucinn_ascendv2__Primary_Contact__r.ucinn_ascendv2__PRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This elements check for charity and its primary donor to populate the value on opportunity</description>
        <name>Update_the_Primary_Donor_Constituent_from_charity</name>
        <label>Update the Primary Donor Constituent from charity</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>get_the_Updated_Opportunity_record_for_credit_lines</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_Primary_Donor__c</field>
            <value>
                <elementReference>Get_all_affiliations_for_the_Charity_account.ucinn_ascendv2__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Resp_Person__c</field>
            <value>
                <elementReference>Get_all_affiliations_for_the_Charity_account.ucinn_ascendv2__Contact__r.ucinn_ascendv2__PRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Create</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateCreditRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Hard_and_Soft_Credit__c</objectType>
    </variables>
</Flow>
