force-app/main/default/flows/HAM_Update_Primary_Donor_on_all_Historical_opportunities_and_Credits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_to_the_update_Credit_List</name>
        <label>Add to the update Credit List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdateCreditRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_each_credit_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_each_credit_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Donor_Constituent_fields</name>
        <label>Set Primary Donor Constituent fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Check_each_credit_record.HAM_Is_Primary_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_credit_record.HAM_Primary_Donor_Constituent_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Opportunity.HAM_Primary_Donor__r.ucinn_ascendv2__Primary_Contact_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_credit_record.HAM_Primary_Donor_Sources__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Opportunity.HAM_Primary_Donor__r.ucinn_ascendv2__Contact_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_update_Credit_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Donor_organization_fields</name>
        <label>Set Primary Donor organization fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Check_each_credit_record.HAM_Is_Primary_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_credit_record.HAM_Primary_Donor_Sources__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Opportunity.HAM_Primary_Donor_organization__r.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_each_credit_record.HAM_Primary_Donor_Constituent_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Opportunity.HAM_Primary_Donor_organization__r.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_update_Credit_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_Affiliations</name>
        <label>Are there any Affiliations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Primary_Organization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Affiliation Missing</defaultConnectorLabel>
        <rules>
            <name>Affiliation_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_The_primary_donor_Affiliation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Donor_Constituent_Organization</targetReference>
            </connector>
            <label>Affiliation Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_primary_charitable_account_matches</name>
        <label>Check if primary charitable account matches</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_to_the_update_Credit_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No match found</defaultConnectorLabel>
        <rules>
            <name>Match_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_each_credit_record.ucinn_ascendv2__Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Updated_Opportunity.HAM_Primary_Donor_organization__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Donor_organization_fields</targetReference>
            </connector>
            <label>Match found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Constituent_or_organization</name>
        <label>Has Constituent or organization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Both are blank</defaultConnectorLabel>
        <rules>
            <name>Either_Fields_is_filled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_a_Constituent_or_Organization_related_opportunity</targetReference>
            </connector>
            <label>Either Fields is filled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does associated household has the primary constituent</description>
        <name>Has_Primary_Constitiuent</name>
        <label>Has Primary Constitiuent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary Constituent not Present</defaultConnectorLabel>
        <rules>
            <name>Primary_Constituent_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__r.Account.ucinn_ascendv2__Primary_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Primary_Donor</targetReference>
            </connector>
            <label>Primary Constituent Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element checks for Constituent field</description>
        <name>Is_a_Constituent_or_Organization_related_opportunity</name>
        <label>Is a Constituent or Organization related opportunity?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_The_primary_donor_Affiliation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Organization Related</defaultConnectorLabel>
        <rules>
            <name>Is_Constituent_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Primary_Constitiuent</targetReference>
            </connector>
            <label>Is Constituent Related</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Donor</name>
        <label>Is Primary Donor?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_to_the_update_Credit_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary donor not matched</defaultConnectorLabel>
        <rules>
            <name>Primary_Donor_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_each_credit_record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Updated_Opportunity.HAM_Primary_Donor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Donor_Constituent_fields</targetReference>
            </connector>
            <label>Primary Donor Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Constituent_missing</name>
        <label>Is the Constituent missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_primary_charitable_account_matches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Charity Credits</defaultConnectorLabel>
        <rules>
            <name>Constituent_credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_each_credit_record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_Donor</targetReference>
            </connector>
            <label>Constituent credit</label>
        </rules>
    </decisions>
    <description>This flow is used to update all historical opportunities and their associated credit lines overnight so that the historical data has the primary donor populated and credit line if matched then gets the primary donor details.</description>
    <environments>Default</environments>
    <interviewLabel>HAM Update Primary Donor on all Historical opportunities and Credits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM Update Primary Donor on all Historical opportunities and Credits</label>
    <loops>
        <name>Check_each_credit_record</name>
        <label>Check each credit record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Credits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_Constituent_missing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Credit_lines_related_to_the_opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Credits</name>
        <label>Get All Credits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_each_credit_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ucinn_ascendv2__Hard_and_Soft_Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_The_primary_donor_Affiliation</name>
        <label>Get The primary donor Affiliation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_Affiliations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HAM_Is_Primary_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Affiliation__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Opportunity</name>
        <label>Get Updated Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Credits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Primary_Donor</name>
        <label>Add Primary Donor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Updated_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_Primary_Donor__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__r.Account.ucinn_ascendv2__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_all_Credit_lines_related_to_the_opportunity</name>
        <label>Update all Credit lines related to the opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>UpdateCreditRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Donor_Constituent_Organization</name>
        <label>Update Primary Donor Constituent Organization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Updated_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_Primary_Donor__c</field>
            <value>
                <elementReference>Get_The_primary_donor_Affiliation.ucinn_ascendv2__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Organization</name>
        <label>Update Primary Organization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Updated_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>HAM_Primary_Donor_organization__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Constituent_or_organization</targetReference>
        </connector>
        <object>Opportunity</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-05-13</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>UpdateCreditRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Hard_and_Soft_Credit__c</objectType>
    </variables>
</Flow>
