force-app/main/default/flows/HAM_Mogli_Opt_Out_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Update preference to false if decision is to opt out</description>
        <name>Assign_SMS_Preference_Value_as_True</name>
        <label>Assign SMS Preference Value as True</label>
        <locationX>220</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>vSMSPreference</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update preference to true if decision is to opt out.</description>
        <name>Assign_SMSM_Preference_Value_as_False</name>
        <label>Assign SMS Preference Value as False</label>
        <locationX>685</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>vSMSPreference</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_object</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SMS_Preference</name>
        <label>SMS Preference</label>
        <locationX>473</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Opt_Out</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANCEL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNSUBSCRIBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>END</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QUIT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STOPALL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SMS_Preference_Value_as_True</targetReference>
            </connector>
            <label>Opt-Out</label>
        </rules>
        <rules>
            <name>Opt_In</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>START</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNSTOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUBSCRIBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JOIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SMSM_Preference_Value_as_False</targetReference>
            </connector>
            <label>Opt-In</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_object</name>
        <label>Which object?</label>
        <locationX>481</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>Automation to check or uncheck the Mogli contact opt-out box if a user directly texts their preferences, w/o default so only SMS meeting START/STOP keywords executes flow</description>
    <environments>Default</environments>
    <interviewLabel>HAM_Mogli_Opt_Out_Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM_Mogli_Opt_Out_Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>217</locationX>
        <locationY>779</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mogli_SMS__Mogli_Opt_Out__c</field>
            <value>
                <elementReference>vSMSPreference</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>721</locationX>
        <locationY>771</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mogli_SMS__Mogli_Opt_Out__c</field>
            <value>
                <elementReference>vSMSPreference</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>355</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SMS_Preference</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Mogli_SMS__Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mogli_SMS__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mogli_SMS__Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Mogli_SMS__SMS__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>To save the recipient&apos;s SMS preference value</description>
        <name>vSMSPreference</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
