force-app/main/default/flows/HAM_Send_Contact_Reports_via_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Distribute contact reports when submitted and published to the listserv.</description>
        <name>Distribute_Contact_Reports</name>
        <label>Distribute Contact Reports</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>ucinn_ascendv2__Contact_Report__c.HAM_Distribute_Submitted_Contact_Reports</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ucinn_ascendv2__Contact_Report__c.HAM_Distribute_Submitted_Contact_Reports</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Distribute contact reports when submitted and non-published to the manager listserv.</description>
        <name>Distribute_Non_Published_Contact_Reports</name>
        <label>Distribute Non-Published Contact Reports</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>ucinn_ascendv2__Contact_Report__c.HAM_Distribute_Non_Published_Contact_Reports_via_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ucinn_ascendv2__Contact_Report__c.HAM_Distribute_Non_Published_Contact_Reports_via_Email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Decide the appropriate Email Alert based on the Contact Report &apos;Publish to Listserv&apos; status</description>
        <name>Publish_to_Listserv_Status</name>
        <label>Publish to Listserv Status</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Published</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Publish_to_Listserv__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distribute_Contact_Reports</targetReference>
            </connector>
            <label>Yes, Published</label>
        </rules>
        <rules>
            <name>No_Non_Published</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Publish_to_Listserv__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distribute_Non_Published_Contact_Reports</targetReference>
            </connector>
            <label>No, Non-Published</label>
        </rules>
    </decisions>
    <description>Send submitted contact reports via email listserv based on published status.</description>
    <environments>Default</environments>
    <interviewLabel>HAM_Send Contact Reports via Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM_Send Contact Reports via Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Publish_to_Listserv_Status</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HAM_Publish_to_Listserv__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Contact_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
