force-app/main/default/flows/HAM_Update_Primary_Responsible_Person_Unit_on_Gift_or_Pledge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Evaluate whether the Donor&apos;s PRM is blank, to determine whether the Donors PRM or Soft Credit Donor&apos;s PRM should be used.</description>
        <name>Evaluate_Donor_s_PRM_Field</name>
        <label>Evaluate Donor&apos;s PRM Field</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Primary_Responsible_Person_of_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Donor_s_PRM_is_Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Donor_s_PRM_Formula__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_organization_level_Donation</targetReference>
            </connector>
            <label>Donor&apos;s PRM is Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision is used to decide if its a personal donation/gift or organization one that gives soft credits.</description>
        <name>Is_organization_level_Donation</name>
        <label>Is organization level Donation</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Organization_s_PRM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Foundation gifts</defaultConnectorLabel>
        <rules>
            <name>Personal_Individual_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Responsible_Person_of_Opportunity</targetReference>
            </connector>
            <label>Personal/ Individual Donation</label>
        </rules>
    </decisions>
    <description>The updated version is used to update the organization&apos;s primary contact PRM</description>
    <environments>Default</environments>
    <interviewLabel>HAM Update Primary Responsible Person Unit on Pl {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM Update Primary Responsible Person Unit on Gift or Pledge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Primary_Responsible_Person_on_triggering_Opportunity</name>
        <label>Get Primary Responsible Person on triggering Opportunity</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>Get_Primary_Responsible_Person</assignToReference>
            <field>HAM_Primary_Resp_Person__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_2</name>
        <label>Get Records 2</label>
        <locationX>380</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Workplan_Unit_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Development_Officer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Primary_Responsible_Person</elementReference>
            </value>
        </filters>
        <object>ucinn_ascendv2__Work_Plan_Unit_Officer_Assignment__c</object>
        <outputAssignments>
            <assignToReference>GetWorkplanUnit</assignToReference>
            <field>ucinn_ascendv2__Work_Plan_Unit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Workplan_Unit_Name</name>
        <label>Get Workplan Unit Name</label>
        <locationX>380</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Work_Plan_Unit_on_Triggering_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWorkplanUnit</elementReference>
            </value>
        </filters>
        <object>ucinn_ascendv2__Work_Plan_Unit__c</object>
        <outputAssignments>
            <assignToReference>GetWorkplanUnitName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update the primary responsible person to match the donor&apos;s PRM on the opportunity. Stamp, so will not change in the future.</description>
        <name>Copy_1_of_Update_Primary_Responsible_Person_of_Opportunity</name>
        <label>Copy 1 of Update Primary Responsible Person of Opportunity</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Primary_Responsible_Person_on_triggering_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HAM_Primary_Resp_Person__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_Primary_Resp_Person__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Donor_s_PRM_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organization_s_PRM</name>
        <label>Update Organization&apos;s PRM</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Primary_Responsible_Person_on_triggering_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_Primary_Resp_Person__c</field>
            <value>
                <elementReference>$Record.Account.ucinn_ascendv2__Primary_Contact__r.ucinn_ascendv2__PRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the primary responsible person to match the donor&apos;s PRM on the opportunity. Stamp, so will not change in the future.</description>
        <name>Update_Primary_Responsible_Person_of_Opportunity</name>
        <label>Update Primary Responsible Person of Opportunity</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Primary_Responsible_Person_on_triggering_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HAM_Primary_Resp_Person__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_Primary_Resp_Person__c</field>
            <value>
                <elementReference>$Record.HAM_Soft_Credit_Contact__r.ucinn_ascendv2__PRM__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Plan_Unit_on_Triggering_Record</name>
        <label>Update Work Plan Unit on Triggering Record</label>
        <locationX>380</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HAM_Primary_Resp_Person_Unit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_Primary_Resp_Person_Unit__c</field>
            <value>
                <elementReference>GetWorkplanUnitName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Donor_s_PRM_Field</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Get_Primary_Responsible_Person</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>GetPrimaryResponsiblePersonRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>GetPrimaryResponsiblePersonUnitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Work_Plan_Unit__c</objectType>
    </variables>
    <variables>
        <name>GetWorkplanUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetWorkplanUnitName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
