force-app/main/default/flows/HAM_Update_Payments_Gift_Receipt_Generated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Last_Value</name>
        <label>Assign Last Value</label>
        <locationX>352</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recordIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordIdsString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Payment_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>countIterationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_individual_Ids</name>
        <label>Get individual Ids</label>
        <locationX>616</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recordIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordIdsSplit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>index</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countIterationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>index</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdsString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIdsReplace</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>484</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_individual_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign values to collection</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countIterationCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>countCommas</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Value</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>countCommas</name>
        <dataType>Number</dataType>
        <expression>(LEN({!$Record.Processed_Payment_Ids__c}) - LEN(SUBSTITUTE(LOWER({!$Record.Processed_Payment_Ids__c}),&quot;,&quot;,&quot;&quot;)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>iterator</name>
        <dataType>Number</dataType>
        <expression>{!index}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>recordIdsReplace</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!recordIdsString}, {!recordIdsSplit} &amp; &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>recordIdsSplit</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordIdsString}, FIND(&apos;,&apos;, {!recordIdsString})-1)</expression>
    </formulas>
    <interviewLabel>Update Payments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM Update Payments - Gift Receipt Generated</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>countIterationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Payment_Ids</name>
        <label>Loop Through Payment Ids</label>
        <locationX>352</locationX>
        <locationY>755</locationY>
        <collectionReference>recordIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Checkbox</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Checkbox</name>
        <label>Update Checkbox</label>
        <locationX>440</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Loop_Through_Payment_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Payment_Ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_Gift_Receipt_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Payment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Processed_Payment_Ids__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>Processed_Payment_Ids__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countIterationCollection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CurrentNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>index</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Processed_Payment_Ids__c</elementReference>
        </value>
    </variables>
</Flow>
