force-app/main/default/flows/HAM_Portal_Acknowledgement_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_if_agree</name>
        <label>Check if agree</label>
        <locationX>992</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Ack_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disagree</defaultConnectorLabel>
        <rules>
            <name>Agree</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_Acknowledge_and_Agree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ack</targetReference>
            </connector>
            <label>Agree</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Already_Signed</name>
        <label>Check if Already Signed</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Ack_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Needs Acknowledgement</defaultConnectorLabel>
        <rules>
            <name>Already_Acknowledged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.HAM_Portal_Acknowledgement_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Acknowledged</label>
        </rules>
    </decisions>
    <description>Flow which will run First time for acknowledgement.</description>
    <environments>Default</environments>
    <interviewLabel>HAM Portal Acknowledgement Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM Portal Acknowledgement Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Already_Signed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HAM_Portal_Acknowledgement_Signed__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ack</name>
        <label>Update Ack</label>
        <locationX>842</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_Portal_Acknowledgement_Signed__c</field>
            <value>
                <elementReference>I_Acknowledge_and_Agree</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Ack_Required</name>
        <label>Ack Required</label>
        <locationX>1167</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ack_Screen</targetReference>
        </connector>
        <fields>
            <name>mandatory_ack</name>
            <fieldText>&lt;p&gt;You must agree to the acknowledgement before continuing. Please check the box to confirm your acceptance of the portal usage terms.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ack_Screen</name>
        <label>Ack_Screen</label>
        <locationX>981</locationX>
        <locationY>327</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_agree</targetReference>
        </connector>
        <fields>
            <name>Ack_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;By checking this box, I acknowledge that access to this community portal is for testing and feedback purposes only (at this time until public launch). I will not use portal data to contact, solicit, or otherwise conduct outreach to any individuals or organizations unless I already have an independent, pre‑existing affiliation with them outside of this portal.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>I_Acknowledge_and_Agree</name>
            <dataType>Boolean</dataType>
            <fieldText>I Accept</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Current_User_Portal_Ack</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
