force-app/main/default/flows/HAM_Chapter_Codes_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Chapter_Found</name>
        <label>Chapter Found?</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_Address_with_Chapter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Zip_Code_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChapter.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Unassigned_Chapter</targetReference>
            </connector>
            <label>No Zip Code Defined</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide if the Address record has a blank or populated zip code</description>
        <name>Type_of_Address</name>
        <label>Address Has Zip Code</label>
        <locationX>326</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Zip_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Postal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_Chapter</targetReference>
            </connector>
            <label>Has Zip Code</label>
        </rules>
        <rules>
            <name>Blank_Postal_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Postal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unassigned_Chapter</targetReference>
            </connector>
            <label>Blank Postal Code</label>
        </rules>
    </decisions>
    <description>Flow to assign Chapter codes to Address records</description>
    <environments>Default</environments>
    <formulas>
        <name>var5DigitPostalCode</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.ucinn_ascendv2__Postal_Code__c}, 5)</expression>
    </formulas>
    <interviewLabel>HAM Chapter Codes Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM Chapter Codes Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Unassigned_Chapter</name>
        <label>Get Unassigned Chapter</label>
        <locationX>358</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Address_with_Chapter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unassigned Chapter</stringValue>
            </value>
        </filters>
        <object>HAM_Chapter_Lookup__c</object>
        <outputAssignments>
            <assignToReference>varChapter.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the associated Chapter record for the address based on the postal code.</description>
        <name>Get_US_Chapter</name>
        <label>Get US Chapter</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chapter_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HAM_Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var5DigitPostalCode</elementReference>
            </value>
        </filters>
        <object>HAM_ChapterZipCode__c</object>
        <outputAssignments>
            <assignToReference>varChapter.Id</assignToReference>
            <field>HAM_Chapter_Lookup__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update addresses with Chapter</description>
        <name>Update_Address_with_Chapter</name>
        <label>Update Address with Chapter</label>
        <locationX>326</locationX>
        <locationY>845</locationY>
        <inputAssignments>
            <field>HAM_Chapter__c</field>
            <value>
                <elementReference>varChapter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>200</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_of_Address</targetReference>
        </connector>
        <object>ucinn_ascendv2__Address__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>collection variable of Address Relation records.</description>
        <name>colAddressRelations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ucinn_ascendv2__Address_Relation__c</objectType>
    </variables>
    <variables>
        <description>Chapter record</description>
        <name>varChapter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>HAM_Chapter_Lookup__c</objectType>
    </variables>
</Flow>
