force-app/main/default/flows/HAM_Chapter_Codes_Address_Relation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <description>Decide if the Address Relation record has a populated or blank zip code</description>
        <name>Address_has_Zip_Code</name>
        <label>Address has Zip Code?</label>
        <locationX>326</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Zip_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Address__r.ucinn_ascendv2__Postal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chapter_based_on_Zip_Code</targetReference>
            </connector>
            <label>Has Zip Code</label>
        </rules>
        <rules>
            <name>Blank_Zip_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Address__r.ucinn_ascendv2__Postal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unassigned_Chapter</targetReference>
            </connector>
            <label>Blank Zip Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chapter_Found</name>
        <label>Chapter Found?</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Address_Relation_Chapter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Zip_Code_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChapter.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Unassigned_Chapter</targetReference>
            </connector>
            <label>No Zip Code Defined</label>
        </rules>
    </decisions>
    <description>Flow to assign Chapter codes to Address Relation records based on Chapter and Chapter Zip Code objects.</description>
    <environments>Default</environments>
    <interviewLabel>HAM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM Chapter Codes Address Relation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Chapter Lookup record by matching on Zip Code.</description>
        <name>Get_Chapter_based_on_Zip_Code</name>
        <label>Get Chapter based on Zip Code</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chapter_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HAM_Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HAM_Zip_Code_5_Digit__c</elementReference>
            </value>
        </filters>
        <object>HAM_ChapterZipCode__c</object>
        <outputAssignments>
            <assignToReference>varChapter.Id</assignToReference>
            <field>HAM_Chapter_Lookup__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Unassigned_Chapter</name>
        <label>Get &quot;Unassigned Chapter&quot;</label>
        <locationX>358</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Address_Relation_Chapter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unassigned Chapter</stringValue>
            </value>
        </filters>
        <object>HAM_Chapter_Lookup__c</object>
        <outputAssignments>
            <assignToReference>varChapter.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update the Address Relation record with the correct Chapter Lookup.</description>
        <name>Update_Address_Relation_Chapter</name>
        <label>Update Address Relation Chapter</label>
        <locationX>326</locationX>
        <locationY>881</locationY>
        <inputAssignments>
            <field>HAM_Chapter__c</field>
            <value>
                <elementReference>varChapter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>200</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Address_has_Zip_Code</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Address_Relation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable for the Chapter Lookup record</description>
        <name>varChapter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>HAM_Chapter_Lookup__c</objectType>
    </variables>
</Flow>
