force-app/main/default/flows/Hard_and_soft_credit_after_insert_update_update_constituent_type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_values</name>
        <label>Assign values</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ConstituentVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_primary_contact_type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_constituent_type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_primary_contact_type_populated</name>
        <label>Is primary contact type populated?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not populated</defaultConnectorLabel>
        <rules>
            <name>Yes_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_primary_contact_type</targetReference>
            </connector>
            <label>Yes, Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Hard and soft credit - after insert/update - update constituent type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hard and soft credit - after insert/update - update constituent type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_primary_contact_type</name>
        <label>Get primary contact type</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_constituent_type</name>
        <label>Update constituent type</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>HAM_Constituent_Type__c</field>
            <value>
                <elementReference>ConstituentVariable.ucinn_ascendv2__Primary_Contact_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_primary_contact_type_populated</targetReference>
        </connector>
        <object>ucinn_ascendv2__Hard_and_Soft_Credit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ConstituentVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>jojojojojoj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ucinn_ascendv2__Hard_and_Soft_Credit__c</objectType>
    </variables>
    <variables>
        <name>storeConstituent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>tetttttt</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ucinn_ascendv2__Hard_and_Soft_Credit__c</objectType>
    </variables>
</Flow>
