force-app/main/default/flows/JBSystemFlow_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj2964a4d95ea9d23c768fbe87533b2d19_FireJBTrigger</name>
        <label>SalesforceObj2964a4d95ea9d23c768fbe87533b2d19_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjacf85f46b337bd95ee734baa2331a623</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjacf85f46b337bd95ee734baa2331a623</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj2964a4d95ea9d23c768fbe87533b2d19</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534011713</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HAM_Is_Active__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;HAM_Contactable_by_Email__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj8ce807f4550d98948f25329f5bbf9546_FireJBTrigger</name>
        <label>SalesforceObj8ce807f4550d98948f25329f5bbf9546_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj8ce807f4550d98948f25329f5bbf9546</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534011713</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HAM_Is_Active__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;HAM_Contactable_by_Email__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjacf85f46b337bd95ee734baa2331a623_FireJBTrigger</name>
        <label>SalesforceObjacf85f46b337bd95ee734baa2331a623_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8ce807f4550d98948f25329f5bbf9546</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8ce807f4550d98948f25329f5bbf9546</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjacf85f46b337bd95ee734baa2331a623</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534011713</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HAM_Is_Active__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;HAM_Contactable_by_Email__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19</name>
        <label>JB_Decision_Null_Check_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjacf85f46b337bd95ee734baa2331a623</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj8ce807f4550d98948f25329f5bbf9546</name>
        <label>JB_Decision_Null_Check_SalesforceObj8ce807f4550d98948f25329f5bbf9546</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj8ce807f4550d98948f25329f5bbf9546_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8ce807f4550d98948f25329f5bbf9546_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj8ce807f4550d98948f25329f5bbf9546_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj8ce807f4550d98948f25329f5bbf9546_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8ce807f4550d98948f25329f5bbf9546_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj8ce807f4550d98948f25329f5bbf9546_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjacf85f46b337bd95ee734baa2331a623</name>
        <label>JB_Decision_Null_Check_SalesforceObjacf85f46b337bd95ee734baa2331a623</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8ce807f4550d98948f25329f5bbf9546</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjacf85f46b337bd95ee734baa2331a623_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjacf85f46b337bd95ee734baa2331a623_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjacf85f46b337bd95ee734baa2331a623_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19_Decision</name>
        <label>JB_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjacf85f46b337bd95ee734baa2331a623</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj2964a4d95ea9d23c768fbe87533b2d19</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.HAM_Chapel_Bell__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj2964a4d95ea9d23c768fbe87533b2d19_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj2964a4d95ea9d23c768fbe87533b2d19</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19_State_change_Decision</name>
        <label>JB_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjacf85f46b337bd95ee734baa2331a623</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.HAM_Chapel_Bell__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8ce807f4550d98948f25329f5bbf9546_Decision</name>
        <label>JB_SalesforceObj8ce807f4550d98948f25329f5bbf9546_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj8ce807f4550d98948f25329f5bbf9546</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.HAM_Philanthropic_Donor_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj8ce807f4550d98948f25329f5bbf9546_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj8ce807f4550d98948f25329f5bbf9546</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8ce807f4550d98948f25329f5bbf9546_State_change_Decision</name>
        <label>JB_SalesforceObj8ce807f4550d98948f25329f5bbf9546_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj8ce807f4550d98948f25329f5bbf9546</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.HAM_Philanthropic_Donor_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8ce807f4550d98948f25329f5bbf9546_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj8ce807f4550d98948f25329f5bbf9546</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjacf85f46b337bd95ee734baa2331a623_Decision</name>
        <label>JB_SalesforceObjacf85f46b337bd95ee734baa2331a623_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8ce807f4550d98948f25329f5bbf9546</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjacf85f46b337bd95ee734baa2331a623</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.HAM_1812__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjacf85f46b337bd95ee734baa2331a623_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjacf85f46b337bd95ee734baa2331a623</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjacf85f46b337bd95ee734baa2331a623_State_change_Decision</name>
        <label>JB_SalesforceObjacf85f46b337bd95ee734baa2331a623_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8ce807f4550d98948f25329f5bbf9546</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjacf85f46b337bd95ee734baa2331a623</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.HAM_1812__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjacf85f46b337bd95ee734baa2331a623_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjacf85f46b337bd95ee734baa2331a623</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj2964a4d95ea9d23c768fbe87533b2d19</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
