force-app/main/default/flows/JBSystemFlow_ucinn_ascendv2_Society_Membership_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj0d78ac65388387aae55fdd5f764e6372_FireJBTrigger</name>
        <label>SalesforceObj0d78ac65388387aae55fdd5f764e6372_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;ucinn_ascendv2__Contact__c&quot;,
  &quot;relationshipName&quot;: &quot;ucinn_ascendv2__Contact__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ucinn_ascendv2__Society_Membership__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj0d78ac65388387aae55fdd5f764e6372</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534011713</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ucinn_ascendv2__Society_Membership__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;ucinn_ascendv2__Contact__r&quot;,&quot;dePrefix&quot;:&quot;ucinn_ascendv2__Society_Membership__c:ucinn_ascendv2__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HAM_Is_Active__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;HAM_Contactable_by_Email__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2_FireJBTrigger</name>
        <label>SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0d78ac65388387aae55fdd5f764e6372</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0d78ac65388387aae55fdd5f764e6372</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ucinn_ascendv2__Contact__c&quot;,&quot;relationshipName&quot;:&quot;ucinn_ascendv2__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ucinn_ascendv2__Society_Membership__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534011713</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ucinn_ascendv2__Society_Membership__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;ucinn_ascendv2__Contact__r&quot;,&quot;dePrefix&quot;:&quot;ucinn_ascendv2__Society_Membership__c:ucinn_ascendv2__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HAM_Is_Active__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;HAM_Contactable_by_Email__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj0d78ac65388387aae55fdd5f764e6372</name>
        <label>JB_Decision_Null_Check_SalesforceObj0d78ac65388387aae55fdd5f764e6372</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj0d78ac65388387aae55fdd5f764e6372_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj0d78ac65388387aae55fdd5f764e6372_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj0d78ac65388387aae55fdd5f764e6372_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj0d78ac65388387aae55fdd5f764e6372_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj0d78ac65388387aae55fdd5f764e6372_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2</name>
        <label>JB_Decision_Null_Check_SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0d78ac65388387aae55fdd5f764e6372</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj0d78ac65388387aae55fdd5f764e6372</targetReference>
            </connector>
            <label>JB_SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj0d78ac65388387aae55fdd5f764e6372_Decision</name>
        <label>JB_SalesforceObj0d78ac65388387aae55fdd5f764e6372_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj0d78ac65388387aae55fdd5f764e6372</name>
            <conditionLogic>( (1 AND 2)  And  ( (3 AND 4)  AND  (5 AND 6) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Giving_Society__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0rU1000003WPZRIA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Contact__r.HAM_Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Contact__r.HAM_Contactable_by_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj0d78ac65388387aae55fdd5f764e6372_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj0d78ac65388387aae55fdd5f764e6372</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2_Decision</name>
        <label>JB_SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0d78ac65388387aae55fdd5f764e6372</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2</name>
            <conditionLogic>( (1 AND 2)  And  ( (3 AND 4)  AND  (5 AND 6) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Giving_Society__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0rU1000003WO3uIAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Contact__r.HAM_Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ucinn_ascendv2__Contact__r.HAM_Contactable_by_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_ucinn_ascendv2_Society_Membership_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj89a75d9fe2b79a4f147a4f6c3a3f9be2</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Society_Membership__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Society_Membership__c</objectType>
    </variables>
</Flow>
