force-app/main/default/flows/Mark_the_Constituent_as_Deceased_based_on_Colleague.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>CYCommentsforPRM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please review current year gifts they are above the threshold set for this year.  </stringValue>
        </value>
    </constants>
    <constants>
        <name>GiftoverthresholdLastyear</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gift over threshold for LY</stringValue>
        </value>
    </constants>
    <constants>
        <name>Giftsoverthresholdforcurrentyear</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gifts over threshold for  CY</stringValue>
        </value>
    </constants>
    <constants>
        <description>Please review last years gifts as they are now over the threshold set by the college.</description>
        <name>LYgiftsoverthreshold</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please review last years gifts as they are now over the threshold set by the college. </stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Gift_value_changed</name>
        <label>Has Gift value changed?</label>
        <locationX>1095</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Gift not updated</defaultConnectorLabel>
        <rules>
            <name>Gift_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Hard_Credit_Current_Calendar_Year__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAM_Hard_Credit_Last_Calendar_Year__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_foreign_gift_over_threshold</targetReference>
            </connector>
            <label>Gift Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_year_above_threshold</name>
        <label>Is Current year above threshold?</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Task_for_LY_PRM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Last Year</defaultConnectorLabel>
        <rules>
            <name>Current_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Foreign_Gift_above_threshold_CY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_CY_PRM</targetReference>
            </connector>
            <label>Current Year</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Deceased</name>
        <label>is Deceased?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Mark_the_Constituent_as_not_Deceased</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Alive</defaultConnectorLabel>
        <rules>
            <name>Deceased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Colleague_Person_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAM_Colleague_Person_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deceased</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_the_Constituent_as_Deceased</targetReference>
            </connector>
            <label>Deceased</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_foreign_gift_over_threshold</name>
        <label>Is foreign gift over threshold?</label>
        <locationX>908</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>under threshold</defaultConnectorLabel>
        <rules>
            <name>Over_Threshold</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Foreign_Gift_above_threshold_CY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAM_Foreign_Gift_above_threshold_LY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Current_year_above_threshold</targetReference>
            </connector>
            <label>Over Threshold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_updated</name>
        <label>Is Status updated</label>
        <locationX>638</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Has_Gift_value_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Colleague_Person_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Deceased</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow 
1. sets the Deceased  flag if the integration pushes Colleague status as Deceased
2. creates a task if the gifts are over the threshold</description>
    <environments>Default</environments>
    <interviewLabel>Mark the Constituent as Deceased based on {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Constituents - Deceased and over thresholds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Task_for_CY_PRM</name>
        <label>Task for CY PRM</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__PRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Giftsoverthresholdforcurrentyear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Comments__c</field>
            <value>
                <elementReference>CYCommentsforPRM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Correspondence_Type__c</field>
            <value>
                <stringValue>Correspondence</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_LY_PRM</name>
        <label>Task for LY PRM</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__PRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>GiftoverthresholdLastyear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Comments__c</field>
            <value>
                <elementReference>LYgiftsoverthreshold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Correspondence_Type__c</field>
            <value>
                <stringValue>Correspondence</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>This update element is used to check at the Colleague system record and update the same.</description>
        <name>Mark_the_Constituent_as_Deceased</name>
        <label>Mark the Constituent as Deceased</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ucinn_ascendv2__Is_Deceased__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This update element is used to check at the Colleague system record and update the same.</description>
        <name>Mark_the_Constituent_as_not_Deceased</name>
        <label>Mark the Constituent as not Deceased</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ucinn_ascendv2__Is_Deceased__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>512</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Status_updated</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
