force-app/main/default/flows/Mogli_Opt_Out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Mogli_Opt_Out</name>
        <label>Check Mogli Opt Out</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Is_there_an_service_indicator_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mogli Opt Out False</defaultConnectorLabel>
        <rules>
            <name>Mogli_Opt_Out_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Mogli_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Service_Indicator_Already_Exist</targetReference>
            </connector>
            <label>Mogli Opt Out True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Service_Indicator_Already_Exist</name>
        <label>Does Service Indicator Already Exist</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Service_Indicator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, create service indicator</defaultConnectorLabel>
        <rules>
            <name>Yes_nothing_to_add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_service_indicator_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_end_date_to_service_indicator</targetReference>
            </connector>
            <label>Yes, nothing to add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_service_indicator_record</name>
        <label>Is there an service indicator record</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No, nothing to update</defaultConnectorLabel>
        <rules>
            <name>Yes_end_date_indicator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_service_indicator_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_end_date_to_society_membership</targetReference>
            </connector>
            <label>Yes, end date indicator</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExternalSystemId</name>
        <dataType>String</dataType>
        <expression>&quot;C-&quot; + {!$Record.ucinn_ascendv2__External_System_ID__c} + &quot;-NCMT&quot;</expression>
    </formulas>
    <interviewLabel>Mogli Opt Out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mogli Opt Out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Indicator</name>
        <label>Create Service Indicator</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__External_System_ID__c</field>
            <value>
                <elementReference>ExternalSystemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Is_Display_On_Record_Page__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Service_Indicator_Value__c</field>
            <value>
                <elementReference>Get_NCMT_Service_Indicator.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Service_Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_existing_service_indicator_record</name>
        <label>Get existing service indicator record</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Mogli_Opt_Out</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Service_Indicator_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NCMT_Service_Indicator.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Service_Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NCMT_Service_Indicator</name>
        <label>Get NCMT Service Indicator</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_service_indicator_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NCMT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Service_Indicator_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_end_date_to_society_membership</name>
        <label>Add end date to society membership</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Service_Indicator_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NCMT_Service_Indicator.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ucinn_ascendv2__End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__External_System_ID__c</field>
            <value>
                <elementReference>ExternalSystemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Is_Display_On_Record_Page__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Service_Indicator__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_end_date_to_service_indicator</name>
        <label>Remove end date to service indicator</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Service_Indicator_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NCMT_Service_Indicator.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ucinn_ascendv2__End_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__External_System_ID__c</field>
            <value>
                <elementReference>ExternalSystemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Is_Display_On_Record_Page__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Service_Indicator__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NCMT_Service_Indicator</targetReference>
        </connector>
        <filterFormula>({!$Record__Prior.Mogli_SMS__Mogli_Opt_Out__c}=true &amp;&amp; {!$Record.Mogli_SMS__Mogli_Opt_Out__c}=false) || ({!$Record__Prior.Mogli_SMS__Mogli_Opt_Out__c}=false &amp;&amp; {!$Record.Mogli_SMS__Mogli_Opt_Out__c}=true)</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GivingSocietyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a0rRT00000G1zvGYAR</stringValue>
        </value>
    </variables>
</Flow>
