force-app/main/default/flows/Mogli_Custom_Incoming_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification</name>
        <label>Email Notification</label>
        <locationX>1926</locationX>
        <locationY>608</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>dSMS_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>vRecipientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tEmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Push_Notification</name>
        <label>Push Notification</label>
        <locationX>1765</locationX>
        <locationY>528</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>dEmail_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Application_Settings.Custom_Notification_Type_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>vRecipientCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>tSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>tBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>vRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Contact_Assignments</name>
        <label>Contact Assignments</label>
        <locationX>1370</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>vRecipientCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Contact__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Contact__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Contact__r.Owner.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSenderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Contact__r.Owner.IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Assignments_0</name>
        <label>Contact Assignments</label>
        <locationX>1454</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vRecipientCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Last_Outgoing_Sender.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Outgoing_Sender.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Outgoing_Sender.Owner:User.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSenderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dPush_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Assignments</name>
        <label>Lead Assignments</label>
        <locationX>1239</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>vRecipientCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Lead__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Lead__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Lead__r.Owner:User.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSenderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLeadName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Lead__r.Owner:User.IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Assignments_0</name>
        <label>Lead Assignments</label>
        <locationX>1499</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>vRecipientCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Last_Outgoing_Sender.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Outgoing_Sender.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Outgoing_Sender.Owner:User.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSenderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLeadName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dPush_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Assignments</name>
        <label>Opportunity Assignments</label>
        <locationX>1094</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>vRecipientCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Opportunity__r.Owner.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSenderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Opportunity__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Opportunity__r.Owner.IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Assignments_0</name>
        <label>Opportunity Assingments</label>
        <locationX>1464</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>vRecipientCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Last_Outgoing_Sender.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Outgoing_Sender.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipientPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Outgoing_Sender.Owner:User.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSenderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Opportunity__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dPush_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dEmail_Notification</name>
        <label>Email Notification?</label>
        <locationX>1918</locationX>
        <locationY>448</locationY>
        <defaultConnector>
            <targetReference>dSMS_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Settings.Custom_Notification_Method__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRecipientEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dPush_Notification</name>
        <label>Push Notification?</label>
        <locationX>1755</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>dEmail_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Push</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Settings.Custom_Notification_Method__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Push Alert</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRecipientCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dSMS_Notification</name>
        <label>SMS Notification?</label>
        <locationX>2081</locationX>
        <locationY>532</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Settings.Custom_Notification_Method__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRecipientPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_Type</name>
        <label>Notification Type</label>
        <locationX>1157</locationX>
        <locationY>447</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Settings.Custom_Notification_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Record Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object_Lookup</targetReference>
            </connector>
            <label>Record Owner</label>
        </rules>
        <rules>
            <name>Last_Outgoing_Sender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Settings.Custom_Notification_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last Outgoing Sender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_Outgoing_Sender</targetReference>
            </connector>
            <label>Last Outgoing Sender</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Lookup</name>
        <label>Object Lookup</label>
        <locationX>1240</locationX>
        <locationY>604</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Assignments</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Assignments</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Assignments</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Lookup_0</name>
        <label>Object Lookup</label>
        <locationX>1360</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Contact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Assignments_0</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Assignments_0</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Assignments_0</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sender_Found</name>
        <label>Sender Found?</label>
        <locationX>1258</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Outgoing_Sender</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object_Lookup_0</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Active</name>
        <label>User Active?</label>
        <locationX>1233</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUserActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dPush_Notification</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fContactName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Mogli_SMS__Contact__r.FirstName} + &quot; &quot; + {!$Record.Mogli_SMS__Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>fLeadName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Mogli_SMS__Lead__r.FirstName} + &quot; &quot; + {!$Record.Mogli_SMS__Lead__r.LastName}</expression>
    </formulas>
    <interviewLabel>[Mogli] Custom Incoming Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Mogli] Custom Incoming Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SMS_Notification</name>
        <label>SMS Notification</label>
        <locationX>2226</locationX>
        <locationY>530</locationY>
        <inputAssignments>
            <field>Mogli_SMS__Direction__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Gateway__c</field>
            <value>
                <elementReference>$Record.Mogli_SMS__Gateway__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Message__c</field>
            <value>
                <elementReference>tSmsBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Phone_Number__c</field>
            <value>
                <elementReference>vRecipientPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <object>Mogli_SMS__SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Settings</name>
        <label>Get Application Settings</label>
        <locationX>1026</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Type</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mogli_SMS__ApplicationSettings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Outgoing_Sender</name>
        <label>Get Last Outgoing Sender</label>
        <locationX>1165</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sender_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mogli_SMS__Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mogli_SMS__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent Successfully</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mogli_SMS__Phone_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Phone_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mogli_SMS__SMS__c</object>
        <sortField>Mogli_SMS__Send_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>586</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Application_Settings</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Mogli_SMS__Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mogli_SMS__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mogli_SMS__Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mogli_SMS__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Mogli_SMS__SMS__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Mogli_SMS__Message__c}</text>
    </textTemplates>
    <textTemplates>
        <name>tEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Mogli_SMS__Message__c}

{!Get_Application_Settings.Org_Base_URL__c}/{!vRecordId}</text>
    </textTemplates>
    <textTemplates>
        <name>tSmsBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!tSubject}

{!tBody}</text>
    </textTemplates>
    <textTemplates>
        <name>tSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have received an SMS from {!vSenderName}!</text>
    </textTemplates>
    <variables>
        <name>vRecipientCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecipientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecipientPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSenderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
