force-app/main/default/flows/Opportunity_to_populate_Gift_Receipt_Generated_on_HSC_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Should_Soft_Credit_or_Gift_Receipt_Be_Populated</name>
        <label>Should Soft Credit or Gift Receipt Be Populated</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Gift_Receipt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Gift_Receipt_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HSC_Gift_Receipt</targetReference>
            </connector>
            <label>Evaluate Gift Receipt</label>
        </rules>
        <rules>
            <name>Evaluate_Soft_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_IRA_Acknowledgement_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HSC_Soft_Credit</targetReference>
            </connector>
            <label>Evaluate Soft Credit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity to populate Gift Receipt Generated on HSC record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity to populate Gift Receipt Generated on HSC record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HSC_Records</name>
        <label>Get HSC Records</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Soft_Credit_or_Gift_Receipt_Be_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Hard_and_Soft_Credit__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_HSC_Gift_Receipt</name>
        <label>Update HSC Gift Receipt</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>HAM_Gift_Receipt_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.ucinn_ascendv2__Hard_and_Soft_Credits_Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HSC_Soft_Credit</name>
        <label>Update HSC Soft Credit</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>HAM_IRA_Acknowledgement_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.ucinn_ascendv2__Hard_and_Soft_Credits_Opportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_HSC_Records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HAM_Gift_Receipt_Generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HAM_IRA_Acknowledgement_Generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
