force-app/main/default/flows/Opportunity_Add_Contact_Roles_for_New_Planned_Gifts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Contact_Roles_to_List</name>
        <label>Add Contact Roles to List</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityContactRoleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpportunityContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Count</name>
        <label>Assign Contact Count</label>
        <locationX>358</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varExistingRoles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Check_Existing_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_current_roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Opportunity_Contact_Role</name>
        <label>Prepare Opportunity Contact Role</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Constituents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_Roles_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Update_Flag</name>
        <label>Set Update Flag</label>
        <locationX>446</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varUpdateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Constituents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_current_roles</name>
        <label>Are there current roles</label>
        <locationX>358</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Prepare_Opportunity_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingRoles</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Constituents</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Update_Flag_True</name>
        <label>Is Update Flag True</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Constituent_Role_Records</targetReference>
            </connector>
            <label>YesTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Add Contact Roles for New Planned Gifts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Add Contact Roles for New Planned Gifts</label>
    <loops>
        <name>Loop_through_Constituents</name>
        <label>Loop throuCheckgh Constituents</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Constituent_Records_for_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Existing_Roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Update_Flag_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Constituent_Role_Records</name>
        <label>Create Opportunity Constituent Role Records</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputReference>varOpportunityContactRoleList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Roles</name>
        <label>Check Existing Roles</label>
        <locationX>358</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Constituents.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <sortField>ContactId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Constituent_Records_for_Account</name>
        <label>Get Constituent Records for Account</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Constituents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>AccountId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Constituent_Records_for_Account</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U1000000lheJIAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123t000000JeMpAAK</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varExistingRoles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varOpportunityContactRoleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varUpdateFlag</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
