force-app/main/default/flows/Remove_Mogli_Flag_on_End_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Is_There_An_End_Date</name>
        <label>Is There An End Date</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Add_Mogli_Flag_to_Constituent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No End Date</defaultConnectorLabel>
        <rules>
            <name>Yes_There_Is_An_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Mogli_Flag_from_Constituent</targetReference>
            </connector>
            <label>Yes, There Is An End Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Remove Mogli Flag on End Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Mogli Flag on End Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_Mogli_Flag_to_Constituent</name>
        <label>Add Mogli Flag to Constituent</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mogli_SMS__Mogli_Opt_Out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Mogli_Flag_from_Constituent</name>
        <label>Remove Mogli Flag from Constituent</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mogli_SMS__Mogli_Opt_Out__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_There_An_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Code_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NCMT</stringValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Service_Indicator__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
