force-app/main/default/flows/ReviewTransactionV2_Enhance_Give_Campus_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>156</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>vOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Gift.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Gift</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment on last matched amount</description>
        <name>Assignment_Match</name>
        <label>Assignment Match</label>
        <locationX>724</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>vOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Gifts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Gifts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myGiftsCount</name>
        <label>myGiftsCount</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>vGiftsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>myGifts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Enhance_RTV2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Amount_Match</name>
        <label>Amount Match</label>
        <locationX>856</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Loop_Gifts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Payment_Amount_1_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Gifts.ucinn_ascendv2__Last_Payment_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Payment_Amount_1_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Gifts.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Match</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine opportunity value</description>
        <name>Enhance_RTV2</name>
        <label>Enhance RTV2</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Loop_Gifts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>myGifts greater than 1</defaultConnectorLabel>
        <rules>
            <name>myGifts_equals_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vGiftsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>myGifts equals 0</label>
        </rules>
        <rules>
            <name>myGifts_equals_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vGiftsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Gift</targetReference>
            </connector>
            <label>myGifts equals 1</label>
        </rules>
    </decisions>
    <description>Determine (find) opportunity details for donor if not supplied by record details.</description>
    <environments>Default</environments>
    <interviewLabel>ReviewTransactionV2 : Enhance Give Campus record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ReviewTransactionV2 : Enhance Give Campus record</label>
    <loops>
        <name>Loop_Gift</name>
        <label>Loop Gift</label>
        <locationX>68</locationX>
        <locationY>719</locationY>
        <collectionReference>myGifts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Compare last paid amount and select by match</description>
        <name>Loop_Gifts</name>
        <label>Loop Gifts</label>
        <locationX>636</locationX>
        <locationY>719</locationY>
        <collectionReference>myGifts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Amount_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Search contact by Donor External Id</description>
        <name>myContact</name>
        <label>myContact</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>myGifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__External_System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Donor_External_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all gifts for Donor that fit criteria</description>
        <name>myGifts</name>
        <label>myGifts</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>myGiftsCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact__c</field>
            <value>
                <elementReference>myContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Opportunity__c</field>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__External_System_ID__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>GCPS</stringValue>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Donor_External_ID__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Opportunity__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Opportunity_Custom_External_ID__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring Gift Payment</stringValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Review_Transaction_v2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>How many gifts donor has</description>
        <name>vGiftsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Gift opportunity id</description>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
