force-app/main/default/flows/Service_Indicator_After_Insert_Update_Update_Active_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>This decision will check if the End Date and Is Active flag are at odds, and if so, enter a branch that updates the Is Active flag.</description>
        <name>Does_Is_Active_Require_Updating</name>
        <label>Does Is Active Require Updating?</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No Change Required</defaultConnectorLabel>
        <rules>
            <name>Past_End_Date_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Inactive</targetReference>
            </connector>
            <label>Past End Date, Is Active</label>
        </rules>
        <rules>
            <name>Future_End_Date_Is_Inactive</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Active</targetReference>
            </connector>
            <label>Future End Date, Is Inactive</label>
        </rules>
    </decisions>
    <description>This Flow will run on Service Indicator object before a record is inserted or updated and will update the Active Flag.</description>
    <environments>Default</environments>
    <formulas>
        <description>Today</description>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Service Indicator - After Insert / Update - Update Active Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Indicator - After Insert / Update - Update Active Flag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>This will update the Is Active flag to TRUE because the End Date is in the future and the Start Date indicates the Service Indicator is active.</description>
        <name>Set_to_Active</name>
        <label>Set to Active</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ucinn_ascendv2__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the Is Active flag to FALSE because the End Date is today or in the past.</description>
        <name>Set_to_Inactive</name>
        <label>Set to Inactive</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ucinn_ascendv2__Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Is_Active_Require_Updating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Service_Indicator__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
