force-app/main/default/flows/Service_Indicator_Update_Privacy_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_End_Date_Null</name>
        <label>Is End Date Null</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Remove_Constituent_Privacy_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Constituent_Privacy_Flag</targetReference>
            </connector>
            <label>Yes, Current</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service Indicator: Update Privacy Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Indicator: Update Privacy Flag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_Constituent_Privacy_Flag</name>
        <label>Add Constituent Privacy Flag</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_Privacy_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Constituent_Privacy_Flag</name>
        <label>Remove Constituent Privacy Flag</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_Privacy_Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_End_Date_Null</targetReference>
        </connector>
        <filterFormula>{!$Record.ucinn_ascendv2__Service_Indicator_Value__r.Name} = &apos;Alumni Privacy&apos;</filterFormula>
        <object>ucinn_ascendv2__Service_Indicator__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
