force-app/main/default/flows/Set_Fund_Reporting_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Counter</name>
        <label>Counter</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CounterToCheckAllNullFDS</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Designation_Stewardship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_of_Designation_Stewardship_Records</name>
        <label>No. of Designation Stewardship Records</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>DSSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fund_Reporting_Status_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setting_Flag_to_True</name>
        <label>Setting Flag to True</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ReportingStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Designation_Stewardship</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fund_Reporting_Status_Decision</name>
        <label>Fund Reporting Status Decision</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_Designation_Stewardship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Any_Current_and_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Designation_Stewardship.HAM_Reporting_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Designation_Stewardship.HAM_Reporting_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Designation_Stewardship.ucinn_ascendv2__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Setting_Flag_to_True</targetReference>
            </connector>
            <label>Any Current and Not Null</label>
        </rules>
        <rules>
            <name>All_Former_or_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Designation_Stewardship.HAM_Reporting_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Designation_Stewardship.HAM_Reporting_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Designation_Stewardship.ucinn_ascendv2__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Counter</targetReference>
            </connector>
            <label>All Former or Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Check_and_Update_Fund_Reporting_Status</name>
        <label>To Check and Update Fund Reporting Status</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reporting_Status_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReportingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Designation_Reporting_Status_with_Yes</targetReference>
            </connector>
            <label>Reporting Status is Yes</label>
        </rules>
        <rules>
            <name>Reporting_Status_is_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DSSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CounterToCheckAllNullFDS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Designation_Reporting_Status_with_No</targetReference>
            </connector>
            <label>Reporting Status is No</label>
        </rules>
    </decisions>
    <description>On the Designation object record type &apos;Fund&apos; update the field &apos;HAM_Fund_Reporting_Status__c&apos;</description>
    <environments>Default</environments>
    <interviewLabel>Set Fund Reporting Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Fund Reporting Status</label>
    <loops>
        <name>Loop_Designation_Stewardship</name>
        <label>Loop Designation Stewardship</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Designation_Stewardship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>No_of_Designation_Stewardship_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>To_Check_and_Update_Fund_Reporting_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Designation_Stewardship_Records</name>
        <label>Get All Designation Stewardship Records</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Designation_Stewardship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Designation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Designation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ucinn_ascendv2__Designation_Stewardship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Designation_Reporting_Status_with_No</name>
        <label>Update Designation Reporting Status with No</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Designation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_Fund_Reporting_Status__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Designation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Designation_Reporting_Status_with_Yes</name>
        <label>Update Designation Reporting Status with Yes</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Designation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_Fund_Reporting_Status__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Designation__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Designation_Stewardship_Records</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.HAM_Reporting_Type__c}) || ISCHANGED({!$Record.ucinn_ascendv2__Status__c}) || ISNEW()</filterFormula>
        <object>ucinn_ascendv2__Designation_Stewardship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CounterToCheckAllNullFDS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DSSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FormerStatusCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ReportingStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
