force-app/main/default/flows/Update_Prospect_or_Employer_Stage_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignrecordid</name>
        <label>Assignrecordid</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Prospect_or_Employer_Stage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_Prospect_or_Employer_Stage</name>
        <label>Update Prospect or Employer Stage</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Employer_Engagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmployerEngagementRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Employer_Engagement_Stage</targetReference>
            </connector>
            <label>Update Employer Engagement</label>
        </rules>
        <rules>
            <name>Update_Prospect_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ucinn_ascendv2__Account__r.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProspectStageRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prospect_Stage_Field</targetReference>
            </connector>
            <label>Update Prospect Stage</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Stagepicklist</name>
        <dataType>String</dataType>
        <expression>{!BLANKVALUE(TEXT($Record.HAM_Stage__c),&quot;&quot;)}</expression>
    </formulas>
    <interviewLabel>Update Prospect or Employer Stage Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Prospect or Employer Stage Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Organization</name>
        <label>Get Organization</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignrecordid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Employer_Engagement_Stage</name>
        <label>Update Employer Engagement Stage</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>HAM_Employer_Engagement_Stage__c</field>
            <value>
                <elementReference>Stagepicklist</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ucinn_ascendv2__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prospect_Stage_Field</name>
        <label>Update Prospect Stage Field</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>HAM_Prospect_Stage__c</field>
            <value>
                <elementReference>Stagepicklist</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ucinn_ascendv2__Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Organization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HAM_Stage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Wealth_Rating__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmployerEngagementRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>HAM_Employer_Engagement</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProspectStageRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>HAM_Prospect_Stage</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
