force-app/main/default/flows/Update_Ten_to_Fifth.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>343</locationX>
        <locationY>797</locationY>
        <assignmentItems>
            <assignToReference>Get_existing_society_record_Last.ucinn_ascendv2__Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastFYEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Soc_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Current_100K_Giving</name>
        <label>Check Current $100K Giving</label>
        <locationX>761</locationX>
        <locationY>1217</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_FY_100K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Current_Year_Hamilton_Fund_Collected__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Ten_to_Fifth_Flag</targetReference>
            </connector>
            <label>Current FY &gt;= $100K</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_100K_Giving</name>
        <label>Check Last $100K Giving</label>
        <locationX>776</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Check_Current_100K_Giving</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_FY_100K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Last_Year_Hamilton_Fund_Collected__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing_society_record_Last</targetReference>
            </connector>
            <label>Last FY &gt;= $100K</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Ten_to_Fifth_Flag</name>
        <label>Check Ten to Fifth Flag</label>
        <locationX>567</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Ten to Fifth False</defaultConnectorLabel>
        <rules>
            <name>Founders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Ten_to_Fifth__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing_society_record_Currnet</targetReference>
            </connector>
            <label>Ten to Fifth True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Current_Membership_Record</name>
        <label>Found Current Membership Record?</label>
        <locationX>368</locationX>
        <locationY>1530</locationY>
        <defaultConnector>
            <targetReference>Create_Giving_Society_Current</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>mem rec not found, create one</defaultConnectorLabel>
        <rules>
            <name>Current_Mem_Rec_found_do_nothing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_society_record_Currnet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Current Mem Rec found do nothing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Last_Membership_Record</name>
        <label>Found Last Membership Record?</label>
        <locationX>531</locationX>
        <locationY>726</locationY>
        <defaultConnector>
            <targetReference>Create_Giving_Society_Last</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Society not available</defaultConnectorLabel>
        <rules>
            <name>Society_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_society_record_Last</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_Date</targetReference>
            </connector>
            <label>Society available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Current FY End</description>
        <name>CurrentFYEnd</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH(TODAY()) &gt;= 7, DATE(YEAR(TODAY()) + 1, 6, 30), DATE(YEAR(TODAY()), 6, 30))</expression>
    </formulas>
    <formulas>
        <description>Current FY Start</description>
        <name>CurrentFYStart</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH(TODAY()) &gt;= 7, DATE(YEAR(TODAY()), 7, 1), DATE(YEAR(TODAY()) - 1, 7, 1))</expression>
    </formulas>
    <formulas>
        <description>Last FY End</description>
        <name>LastFYEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentFYEnd}) - 1, 6, 30)</expression>
    </formulas>
    <formulas>
        <description>Last FY Start</description>
        <name>LastFYStart</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentFYStart}) - 1, 7, 1)</expression>
    </formulas>
    <interviewLabel>Update Ten to Fifth {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Ten to Fifth</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Giving_Society_Current</name>
        <label>Create Giving Society Current</label>
        <locationX>533</locationX>
        <locationY>1664</locationY>
        <connector>
            <targetReference>Update_flag</targetReference>
        </connector>
        <inputAssignments>
            <field>ucinn_ascendv2__Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Anniversary_Date__c</field>
            <value>
                <elementReference>CurrentFYStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Giving_Society__c</field>
            <value>
                <elementReference>Get_Giving_Society_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Society_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Giving_Society_Last</name>
        <label>Create Giving Society Last</label>
        <locationX>650</locationX>
        <locationY>872</locationY>
        <connector>
            <targetReference>Check_Current_100K_Giving</targetReference>
        </connector>
        <inputAssignments>
            <field>ucinn_ascendv2__Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Anniversary_Date__c</field>
            <value>
                <elementReference>LastFYStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Expiration_Date__c</field>
            <value>
                <elementReference>LastFYEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Giving_Society__c</field>
            <value>
                <elementReference>Get_Giving_Society_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Society_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_existing_society_record</name>
        <label>Get existing society record</label>
        <locationX>1200</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Last_100K_Giving</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Giving_Society__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Giving_Society_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Society_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_society_record_Currnet</name>
        <label>Get existing society record Currnet</label>
        <locationX>377</locationX>
        <locationY>1356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Current_Membership_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Giving_Society__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Giving_Society_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Membership_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Society_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_society_record_Last</name>
        <label>Get existing society record Last</label>
        <locationX>537</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Last_Membership_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Giving_Society__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Giving_Society_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Society_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Giving_Society_ID</name>
        <label>Get Giving Society ID</label>
        <locationX>785</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_society_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ten to the Fifth Club</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Giving_Society__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_flag</name>
        <label>Update flag</label>
        <locationX>530</locationX>
        <locationY>1795</locationY>
        <inputAssignments>
            <field>HAM_Ten_to_Fifth__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Soc_Record</name>
        <label>Update Soc Record</label>
        <locationX>343</locationX>
        <locationY>931</locationY>
        <connector>
            <targetReference>Check_Current_100K_Giving</targetReference>
        </connector>
        <inputReference>Get_existing_society_record_Last</inputReference>
    </recordUpdates>
    <start>
        <locationX>659</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>Get_Giving_Society_ID</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>HAM_Last_Year_Hamilton_Fund_Collected__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HAM_Current_Year_Hamilton_Fund_Collected__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HAM_Ten_to_Fifth__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GivingSocietyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a0rRT00000G1zvGYAR</stringValue>
        </value>
    </variables>
</Flow>
