force-app/main/default/flows/Update_Chapel_Bell_Society.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Chapel_Bell_Flag</name>
        <label>Check Chapel Bell Flag</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Is_there_an_existing_Society_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Chapel Bell False</defaultConnectorLabel>
        <rules>
            <name>X1812_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HAM_Chapel_Bell__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Giving_Society_Already_Exist</targetReference>
            </connector>
            <label>Chapel Bell True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Giving_Society_Already_Exist</name>
        <label>Does Giving Society Already Exist</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Giving_Society</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, create society membership</defaultConnectorLabel>
        <rules>
            <name>Yes_nothing_to_add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_society_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_end_date_to_society_membership</targetReference>
            </connector>
            <label>Yes, nothing to add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_existing_Society_record</name>
        <label>Is there an existing Society record</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No, nothing to update</defaultConnectorLabel>
        <rules>
            <name>Yes_end_date_membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_society_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_end_date_to_society_membership</targetReference>
            </connector>
            <label>Yes, end date membership</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Chapel Bell Society {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Chapel Bell Society</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Giving_Society</name>
        <label>Create Giving Society</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ucinn_ascendv2__Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ucinn_ascendv2__Giving_Society__c</field>
            <value>
                <elementReference>Get_Society_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Society_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_existing_society_record</name>
        <label>Get existing society record</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Chapel_Bell_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Giving_Society__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Society_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Society_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Society_Id</name>
        <label>Get Society Id</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_society_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chapel Bell Society</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ucinn_ascendv2__Giving_Society__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_end_date_to_society_membership</name>
        <label>Add end date to society membership</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Giving_Society__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Society_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ucinn_ascendv2__Expiration_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>ucinn_ascendv2__Society_Membership__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_end_date_to_society_membership</name>
        <label>Remove end date to society membership</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Giving_Society__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Society_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ucinn_ascendv2__Expiration_Date__c</field>
        </inputAssignments>
        <object>ucinn_ascendv2__Society_Membership__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Society_Id</targetReference>
        </connector>
        <filterFormula>({!$Record__Prior.HAM_Chapel_Bell__c}=true &amp;&amp; {!$Record.HAM_Chapel_Bell__c}=false) || ({!$Record__Prior.HAM_Chapel_Bell__c}=false &amp;&amp; {!$Record.HAM_Chapel_Bell__c}=true)</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GivingSocietyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a0rRT00000G1zvGYAR</stringValue>
        </value>
    </variables>
</Flow>
