force-app/main/default/flows/Update_Suffixes_Based_On_Degree_Info_On_Constituent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Adding_Relationships_Ids</name>
        <label>Adding Relationships Ids</label>
        <locationX>2250</locationX>
        <locationY>2075</locationY>
        <assignmentItems>
            <assignToReference>ListOfRelatedRelationshipRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Preparing_Ids_Of_All_relationship_Records.ucinn_ascendv2__Related_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preparing_Ids_Of_All_relationship_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignining_Types_to_Collections</name>
        <label>Assignining Types to Collections</label>
        <locationX>182</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>TypesCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Surviving Spouse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TypesCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TypesCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Grandparent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Over_Constituent_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Maximum_Value_Assignment_Grand_ParentOn_Sorted_Four_digits</name>
        <label>Maximum Value Assignment Grand ParentOn Sorted Four digits</label>
        <locationX>270</locationX>
        <locationY>4259</locationY>
        <assignmentItems>
            <assignToReference>finalStringWithSortedLastTwoDigitGp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lastTwoDigitFormulaGP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_Over_Grand_Parent_Sorted_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Maximum_Value_Assignment_Number_Parent</name>
        <label>Maximum Value Assignment Parent</label>
        <locationX>3438</locationX>
        <locationY>3131</locationY>
        <assignmentItems>
            <assignToReference>ReunionFourDigitNumberCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_Over_Sorted_Max_Reunion_Year.HAM_Reunion_Integer_Date_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sorting_Four_Digit_Year_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Maximum_Value_Assignment_Grand_Parent</name>
        <label>Maximum Value Assignment  Grand Parent</label>
        <locationX>3702</locationX>
        <locationY>3131</locationY>
        <assignmentItems>
            <assignToReference>ReuionFourDigitNumberCollectionGP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_Over_Sorted_Max_Reunion_Year.HAM_Reunion_Integer_Date_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sorting_Values_in_Ascending_GP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Maximum_Value_Assignment_ParentOn_Sorted_Four_digits</name>
        <label>Maximum Value Assignment ParentOn Sorted Four digits</label>
        <locationX>270</locationX>
        <locationY>3959</locationY>
        <assignmentItems>
            <assignToReference>FinalStringWithSortedLastTwoDigit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LastTwoDigitFormulaParent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_Over_Parent_Sorted_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Maximum_Value_Assignment_Spouse_On_Sorted_Four_digits</name>
        <label>Maximum Value Assignment  Spouse On Sorted Four digits</label>
        <locationX>270</locationX>
        <locationY>4559</locationY>
        <assignmentItems>
            <assignToReference>finalStringWithlSortedastTwoDigitSpouse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lastTwoDigitFormulaSpouse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_Over_Spouse_Sorted_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Maximum_Value_Assignment_Surviving_Spouse</name>
        <label>Maximum Value Assignment Surviving Spouse</label>
        <locationX>3174</locationX>
        <locationY>3131</locationY>
        <assignmentItems>
            <assignToReference>ReunionFourDigitSortedForSpouse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_Over_Sorted_Max_Reunion_Year.HAM_Reunion_Integer_Date_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sorting_Values_in_Ascending_Spouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MaximumDateValue</name>
        <label>MaximumDateValue</label>
        <locationX>336</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>MaxYearValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itrating_Over_Sorted_Collection.HAM_Reunion_Integer_Date_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Itrating_Over_Sorted_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collection_Filter_For_Each_Related_Constituent</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter For Each Related Constituent</label>
        <locationX>3086</locationX>
        <locationY>2699</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_For_Each_Related_Constituent</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_Degree_Information_For_Related_Constituent</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_For_Each_Related_Constituent.ucinn_ascendv2__Contact__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Looping_Over_Relationships_Related_Constituent.ucinn_ascendv2__Related_Contact__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Getting_Max_Reunion_Year</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Maximum_Reunion_Integer</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Get Maximum Reunion Integer</label>
        <locationX>248</locationX>
        <locationY>935</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_Degree_info</collectionReference>
        <connector>
            <targetReference>Itrating_Over_Sorted_Collection</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>HAM_Reunion_Integer_Date_Formula__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Getting_Max_Reunion_Year</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Getting Max Reunion Year</label>
        <locationX>3086</locationX>
        <locationY>2807</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Collection_Filter_For_Each_Related_Constituent</collectionReference>
        <connector>
            <targetReference>Looping_Over_Sorted_Max_Reunion_Year</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>HAM_Reunion_Integer_Date_Formula__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sorting_Degree_Info_For_Ascending</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sorting Degree Info For Ascending</label>
        <locationX>2162</locationX>
        <locationY>2375</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_Degree_Information_For_Related_Constituent</collectionReference>
        <connector>
            <targetReference>is_Related_Degree_Information_Exist_Or_Not</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>HAM_Reunion_Integer_Date_Formula__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sorting_Four_Digit_Year_Parent</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sorting Four Digit Year</label>
        <locationX>3438</locationX>
        <locationY>3239</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>ReunionFourDigitNumberCollection</collectionReference>
        <connector>
            <targetReference>Looping_Over_Sorted_Max_Reunion_Year</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sorting_Values_in_Ascending_GP</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sorting Values in Ascending</label>
        <locationX>3702</locationX>
        <locationY>3239</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>ReuionFourDigitNumberCollectionGP</collectionReference>
        <connector>
            <targetReference>Looping_Over_Sorted_Max_Reunion_Year</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sorting_Values_in_Ascending_Spouse</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sorting Values in Ascending</label>
        <locationX>3174</locationX>
        <locationY>3239</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>ReunionFourDigitSortedForSpouse</collectionReference>
        <connector>
            <targetReference>Looping_Over_Sorted_Max_Reunion_Year</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Checking_Constituent_Type</name>
        <label>Checking Constituent Type</label>
        <locationX>611</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hamilton_Or_Kirkland</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hamilton Alumni</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Kirkland Alumnae</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Past Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Grandparent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Surviving Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Degree_info</targetReference>
            </connector>
            <label>Hamilton Or Kirkland</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Constituent_Types</name>
        <label>Checking Constituent Types</label>
        <locationX>380</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>Update_Constituent_hamilton_Kirkland</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spouse_Parent_Or_Grand_Parent_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Past Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Grandparent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Surviving Spouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignining_Types_to_Collections</targetReference>
            </connector>
            <label>Spouse Parent Or Grand Parent Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Degree_Record_Exist_or_Not</name>
        <label>Checking Degree Record Exist or Not</label>
        <locationX>380</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Checking_Constituent_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Degree_Record_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Degree_info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Maximum_Reunion_Integer</targetReference>
            </connector>
            <label>Degree Record Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Hamilton_Or_Kirkland</name>
        <label>Checking Hamilton Or Kirkland</label>
        <locationX>182</locationX>
        <locationY>4751</locationY>
        <defaultConnector>
            <targetReference>Update_ConstituentWithouthamilton</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hamilton Alumni</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Kirkland Alumnae</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Constituent</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Types</name>
        <label>Checking Types</label>
        <locationX>3570</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Looping_Over_Sorted_Max_Reunion_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Surviving_Spouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_Over_Constituent_Types</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surviving Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Surviving Spouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maximum_Value_Assignment_Surviving_Spouse</targetReference>
            </connector>
            <label>is Surviving Spouse</label>
        </rules>
        <rules>
            <name>is_Parent</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Looping_Over_Constituent_Types</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Past Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Maximum_Value_Assignment_Number_Parent</targetReference>
            </connector>
            <label>is Parent</label>
        </rules>
        <rules>
            <name>is_Grand_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_Over_Constituent_Types</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grandparent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Grandparent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maximum_Value_Assignment_Grand_Parent</targetReference>
            </connector>
            <label>is Grand Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Related_Degree_Information_Exist_Or_Not</name>
        <label>is Related Degree Information Exist Or Not</label>
        <locationX>2162</locationX>
        <locationY>2483</locationY>
        <defaultConnector>
            <targetReference>Looping_Over_Constituent_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Degree_Info_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Degree_Information_For_Related_Constituent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Over_Relationships_Related_Constituent</targetReference>
            </connector>
            <label>Related Degree Info Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Relationship_Records_Exist_Or_Not</name>
        <label>is Relationship Records Exist Or Not</label>
        <locationX>2294</locationX>
        <locationY>1859</locationY>
        <defaultConnector>
            <targetReference>Looping_Over_Constituent_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Relationship_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Relationship_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preparing_Ids_Of_All_relationship_Records</targetReference>
            </connector>
            <label>Relationship Records Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DynamicRelationshipRole</name>
        <dataType>String</dataType>
        <expression>CASE({!Looping_Over_Constituent_Types}, &apos;Surviving Spouse&apos;, &apos;Deceased Spouse&apos;, &apos;Parent&apos;, &apos;Child&apos;,&apos;Grandchild&apos;)</expression>
    </formulas>
    <formulas>
        <name>finalStringWithoutBracketGP</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!finalStringWithSortedLastTwoDigitGp}),SUBSTITUTE(SUBSTITUTE({!finalStringWithSortedLastTwoDigitGp} ,&quot;]&quot;, &quot;&quot;),&quot;[&quot;, &quot;GP&quot;),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>FinalStringWithoutBracketParent</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!FinalStringWithSortedLastTwoDigit}),SUBSTITUTE(SUBSTITUTE({!FinalStringWithSortedLastTwoDigit} ,&quot;]&quot;, &quot;&quot;),&quot;[&quot;, &quot;P&quot;),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>finalStringWithoutBracketSpouse</name>
        <dataType>String</dataType>
        <expression>IF(!(ISBLANK({!finalStringWithlSortedastTwoDigitSpouse})),SUBSTITUTE(SUBSTITUTE({!finalStringWithlSortedastTwoDigitSpouse} ,&quot;]&quot;, &quot;&quot;),&quot;[&quot;, &quot;W&quot;),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>lasttTwoDigitOfFormulaHamilton</name>
        <dataType>String</dataType>
        <expression>IF(
    INCLUDES({!$Record.ucinn_ascendv2__Contact_Type__c}, &apos;Kirkland Alumnae&apos;), 
    &apos;K&apos; &amp; &quot;&apos;&quot; &amp; RIGHT(TEXT({!MaxYearValue}),2), 
    &quot;&apos;&quot; &amp; RIGHT(TEXT({!MaxYearValue}),2)
)</expression>
    </formulas>
    <formulas>
        <name>lastTwoDigitFormulaGP</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES({!$Record.ucinn_ascendv2__Contact_Type__c},&apos;Grandparent&apos;) , 
 ( &quot;&apos;&quot;+RIGHT(TEXT( {!looping_Over_Grand_Parent_Sorted_Collection}),2) ),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>LastTwoDigitFormulaParent</name>
        <dataType>String</dataType>
        <expression>IF(OR(INCLUDES({!$Record.ucinn_ascendv2__Contact_Type__c},&apos;Current Parent&apos;),
INCLUDES({!$Record.ucinn_ascendv2__Contact_Type__c},&apos;Past Parent&apos;)
) ,  ( &quot;&apos;&quot;+RIGHT(TEXT( {!looping_Over_Parent_Sorted_Collection}),2) ),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>lastTwoDigitFormulaSpouse</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!$Record.ucinn_ascendv2__Contact_Type__c},&apos;Surviving Spouse&apos;), 
 ( &quot;&apos;&quot;+RIGHT(TEXT( {!looping_Over_Spouse_Sorted_Collection}),2) ),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>lastTwoDigitSurviving</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!MaxYearValue}), &apos;W&apos;+&quot;&apos; &quot;+RIGHT(TEXT({!MaxYearValue}),2),RIGHT(TEXT({!MaxYearValue}),2))</expression>
    </formulas>
    <formulas>
        <name>SelectedConstitutesTypes</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.ucinn_ascendv2__Contact_Type__c} , &apos;Surviving Spouse,&apos; ), &apos;Surviving Spouse;&apos;,null ) &amp;
IF ( OR( INCLUDES ( {!$Record.ucinn_ascendv2__Contact_Type__c} , &apos;Current Parent;&apos; ),INCLUDES ( {!$Record.ucinn_ascendv2__Contact_Type__c} , &apos;Past Parent&apos; )), &apos;Parent;,&apos;,null )  &amp;
IF ( INCLUDES ( {!$Record.ucinn_ascendv2__Contact_Type__c} , &apos;Grandparent;&apos; ), &apos;Grandparent&apos;,null )</expression>
    </formulas>
    <interviewLabel>Update Suffixes Based On Degree Info On Constituent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Suffixes Based On Degree Info On Constituent</label>
    <loops>
        <name>Itrating_Over_Sorted_Collection</name>
        <label>Itrating Over Sorted Collection</label>
        <locationX>248</locationX>
        <locationY>1043</locationY>
        <collectionReference>Get_Related_Degree_info</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MaximumDateValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_Constituent_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_Over_Constituent_Types</name>
        <label>Looping Over Constituent Types</label>
        <locationX>182</locationX>
        <locationY>1643</locationY>
        <collectionReference>TypesCollections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Relationship_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>looping_Over_Parent_Sorted_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>looping_Over_Grand_Parent_Sorted_Collection</name>
        <label>looping Over Grand Parent Sorted Collection</label>
        <locationX>182</locationX>
        <locationY>4151</locationY>
        <collectionReference>ReuionFourDigitNumberCollectionGP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Maximum_Value_Assignment_Grand_ParentOn_Sorted_Four_digits</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>looping_Over_Spouse_Sorted_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>looping_Over_Parent_Sorted_Collection</name>
        <label>looping Over Parent Sorted Collection</label>
        <locationX>182</locationX>
        <locationY>3851</locationY>
        <collectionReference>ReunionFourDigitNumberCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Maximum_Value_Assignment_ParentOn_Sorted_Four_digits</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>looping_Over_Grand_Parent_Sorted_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_Over_Relationships_Related_Constituent</name>
        <label>Looping Over Relationships Related Constituent</label>
        <locationX>2118</locationX>
        <locationY>2591</locationY>
        <collectionReference>Get_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collection_Filter_For_Each_Related_Constituent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Looping_Over_Constituent_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_Over_Sorted_Max_Reunion_Year</name>
        <label>Looping Over Sorted Max Reunion Year</label>
        <locationX>3086</locationX>
        <locationY>2915</locationY>
        <collectionReference>Collection_Filter_For_Each_Related_Constituent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Looping_Over_Relationships_Related_Constituent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>looping_Over_Spouse_Sorted_Collection</name>
        <label>Looping Over Spouse Sorted Collection</label>
        <locationX>182</locationX>
        <locationY>4451</locationY>
        <collectionReference>ReunionFourDigitSortedForSpouse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Maximum_Value_Assignment_Spouse_On_Sorted_Four_digits</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_Hamilton_Or_Kirkland</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Preparing_Ids_Of_All_relationship_Records</name>
        <label>Preparing Ids Of All relationship Records</label>
        <locationX>2162</locationX>
        <locationY>1967</locationY>
        <collectionReference>Get_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_Relationships_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_Degree_Information_For_Related_Constituent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Degree_RecordType_Id</name>
        <label>Get Degree RecordType Id</label>
        <locationX>611</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ham_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>School_Degree_Information</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ham_ID</name>
        <label>Get Account Id of Hamilton</label>
        <locationX>611</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Kirkland_ID</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ucinn_ascendv2__External_System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0920265</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Kirkland_ID</name>
        <label>Get Account ID of Kirkland</label>
        <locationX>611</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Constituent_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__External_System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2381635</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Degree_info</name>
        <label>Get Related Degree info</label>
        <locationX>380</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Degree_Record_Exist_or_Not</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3 AND 5) OR (1 AND 4 AND 5)</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Degree_RecordType_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Degree_Institution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Kirkland_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Degree_Institution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Ham_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Degree_RecordType_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ucinn_ascendv2__Degree_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Degree_Information_For_Related_Constituent</name>
        <label>Get Related Degree Information For Related Constituent</label>
        <locationX>2162</locationX>
        <locationY>2267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sorting_Degree_Info_For_Ascending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ListOfRelatedRelationshipRecords</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Degree_RecordType_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ucinn_ascendv2__Degree_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relationship_Records</name>
        <label>Get Relationship Records</label>
        <locationX>2294</locationX>
        <locationY>1751</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Relationship_Records_Exist_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Related_Contact_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DynamicRelationshipRole</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ucinn_ascendv2__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Constituent</name>
        <label>Update Constituent</label>
        <locationX>50</locationX>
        <locationY>4859</locationY>
        <inputAssignments>
            <field>HAM_Alum_Suffix__c</field>
            <value>
                <elementReference>lasttTwoDigitOfFormulaHamilton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_GP_Suffix__c</field>
            <value>
                <elementReference>finalStringWithoutBracketGP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Parent_Suffix__c</field>
            <value>
                <elementReference>FinalStringWithoutBracketParent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Surv_Spouse_Suffix__c</field>
            <value>
                <elementReference>finalStringWithoutBracketSpouse</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Constituent_hamilton_Kirkland</name>
        <label>Update Constituent</label>
        <locationX>578</locationX>
        <locationY>1535</locationY>
        <inputAssignments>
            <field>HAM_Alum_Suffix__c</field>
            <value>
                <elementReference>lasttTwoDigitOfFormulaHamilton</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ConstituentWithouthamilton</name>
        <label>Update Constituent</label>
        <locationX>314</locationX>
        <locationY>4859</locationY>
        <inputAssignments>
            <field>HAM_GP_Suffix__c</field>
            <value>
                <elementReference>finalStringWithoutBracketGP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Parent_Suffix__c</field>
            <value>
                <elementReference>FinalStringWithoutBracketParent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Surv_Spouse_Suffix__c</field>
            <value>
                <elementReference>finalStringWithoutBracketSpouse</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Degree_RecordType_Id</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_Collection_Filter_For_Each_Related_Constituent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ucinn_ascendv2__Degree_Information__c</objectType>
    </variables>
    <variables>
        <name>finalStringWithBracketGP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalStringWithBracketLastTwoDigitParent</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalStringWithBracketSpouse</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>finalStringWithlSortedastTwoDigitSpouse</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalStringWithSortedLastTwoDigit</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>finalStringWithSortedLastTwoDigitGp</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListOfRelatedRelationshipRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MaxYearValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ReuionFourDigitNumberCollectionGP</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ReunionFourDigitNumberCollection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ReunionFourDigitSortedForSpouse</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TypesCollections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
