force-app/main/default/flows/Update_Engagement_Activity_Subtype_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>EAVCategory</name>
        <dataType>String</dataType>
        <expression>{!BLANKVALUE(TEXT($Record.HAM_Engagement_Activity_Value__r.HAM_Category__c),&quot;&quot;)}</expression>
    </formulas>
    <formulas>
        <name>EAVsubtype</name>
        <dataType>String</dataType>
        <expression>{!BLANKVALUE(TEXT($Record.HAM_Engagement_Activity_Value__r.HAM_Activity_Subtype__c),&quot;&quot;)}</expression>
    </formulas>
    <formulas>
        <name>EAVType</name>
        <dataType>String</dataType>
        <expression>{!BLANKVALUE(TEXT($Record.HAM_Engagement_Activity_Value__r.HAM_Activity_Type__c),&quot;&quot;)}</expression>
    </formulas>
    <interviewLabel>Update Engagement Activity Subtype Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Engagement Activity Subtype Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>EAV</name>
        <label>EAV</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_EA_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HAM_Engagement_Activity_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_EA_Fields</name>
        <label>Update EA Fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HAM_Activity_Subtype__c</field>
            <value>
                <elementReference>EAVsubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Activity_Type__c</field>
            <value>
                <elementReference>EAVType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Category__c</field>
            <value>
                <elementReference>EAVCategory</elementReference>
            </value>
        </inputAssignments>
        <object>HAM_Engagement_Activities__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EAV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>HAM_Engagement_Activities__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
