force-app/main/default/flows/Update_Primary_donor_details_on_Credits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_the_credit_is_for_constituent_or_organization</name>
        <label>Check if the credit is for constituent or organization</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Primary_donor_Organization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Organization Credit</defaultConnectorLabel>
        <rules>
            <name>Is_Constituent_credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Primary_donor_constituent</targetReference>
            </connector>
            <label>Is Constituent credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_donor_constituent</name>
        <label>Check Primary donor constituent</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Remove_Credit_Record_with_primary_donor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not a primary donor constituent</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Donor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ucinn_ascendv2__Opportunity__r.HAM_Primary_Donor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Record_with_primary_donor</targetReference>
            </connector>
            <label>Is Primary Donor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_donor_Organization</name>
        <label>Check Primary donor Organization</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Remove_Credit_Record_with_primary_donor_Organization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not a primary donor organization</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Donor_organization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ucinn_ascendv2__Opportunity__r.HAM_Primary_Donor_organization__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Record_with_primary_donor_Organization</targetReference>
            </connector>
            <label>Is Primary Donor organization</label>
        </rules>
    </decisions>
    <description>This flow is used to populate the primary donor and its related fields.</description>
    <environments>Default</environments>
    <interviewLabel>Update Primary donor details on Credits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HAM Update Primary donor details on Credits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Remove_Credit_Record_with_primary_donor</name>
        <label>Remove Credit Record with primary donor</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>HAM_Is_Primary_Donor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Donor_Constituent_Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Donor_Sources__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Credit_Record_with_primary_donor_Organization</name>
        <label>Remove Credit Record with primary donor Organization</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>HAM_Is_Primary_Donor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Donor_Constituent_Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Donor_Sources__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Credit_Record_with_primary_donor</name>
        <label>Update Credit Record with primary donor</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>HAM_Is_Primary_Donor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Donor_Constituent_Type__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Opportunity__r.HAM_Primary_Donor__r.ucinn_ascendv2__Primary_Contact_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Donor_Sources__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Opportunity__r.HAM_Primary_Donor__r.ucinn_ascendv2__Contact_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Credit_Record_with_primary_donor_Organization</name>
        <label>Update Credit Record with primary donor Organization</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>HAM_Is_Primary_Donor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Donor_Constituent_Type__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Opportunity__r.HAM_Primary_Donor_organization__r.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAM_Primary_Donor_Sources__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Opportunity__r.HAM_Primary_Donor_organization__r.Type</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_the_credit_is_for_constituent_or_organization</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ucinn_ascendv2__Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Hard_and_Soft_Credit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
