force-app/main/default/flows/Update_Reunion_Year_for_Students.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update Reunion Year for Students {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Reunion Year for Students</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_from_Anticipated_Class_Year</name>
        <label>Update from Anticipated Class Year</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Reunion_Year_from_Degree</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HAM_Anticipated_Class_Year__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ucinn_ascendv2__Reunion_Year__c</field>
            <value>
                <elementReference>$Record.HAM_Anticipated_Class_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reunion_Year_from_Degree</name>
        <label>Update Reunion Year from Degree</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Conferred_Degree_Year__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ucinn_ascendv2__Reunion_Year__c</field>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Conferred_Degree_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_from_Anticipated_Class_Year</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>ucinn_ascendv2__Reunion_Year__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HAM_Constituent_Primary_Contact_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123t000000JeMMAA0</stringValue>
            </value>
        </filters>
        <object>ucinn_ascendv2__Degree_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>100</triggerOrder>
</Flow>
